<%= form_for (@pharmacy)  do |f| %>
    <% if @pharmacy.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pharmacy.errors.count, "error") %> prohibited your info from being saved:</h2>
    
          <ul>
          <% @pharmacy.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    
    <div class="row">
        <div class="col-md-12">
            <%= f.label :card_information %>
        </div>
        <div class="col-md-6">
            <div class="field">
                <%= f.text_field :card_number, class:"form-control", autofocus: true, placeholder:"Credit or Debit card number" %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="field">
                <%= f.text_field :exp_month, class:"form-control", autofocus: true, placeholder:"Exp Month" %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="field">
                <%= f.text_field :exp_year, class:"form-control", autofocus: true, placeholder:"Exp year" %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="field">
                <%= f.text_field :cvc, class:"form-control", autofocus: true, placeholder:"CVC" %>
            </div>
        </div>
    </div>
    <div class="field">
        <%= f.hidden_field :bill_country, class:"form-control", autofocus: true, :value => 'US' %>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= f.label :billing_address %>
        </div>
        <div class="col-md-5">
            <div class="field">
                <%= f.text_field :bill_street, class:"form-control", autofocus: true, placeholder:"Street Address" %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="field">
                <%= f.text_field :bill_city, class:"form-control", autofocus: true, placeholder:"Town or City" %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="field">
                <%= f.text_field :bill_state, class:"form-control", autofocus: true, placeholder:"State" %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="field">
                <%= f.text_field :bill_zip, class:"form-control", autofocus: true, placeholder:"Zipcode" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="actions text-right">
                <%= f.submit "Secure Submission", class:"btn btn-light btn-lg" %>
            </div>
        </div>
    </div>
<% end %>