<%= form_for (@pharmacy)  do |f| %>
    <% if @pharmacy.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pharmacy.errors.count, "error") %> prohibited your info from being saved:</h2>
    
          <ul>
          <% @pharmacy.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    
    <div class="field">
        <%= f.text_field :bank_account_number, class:"form-control", autofocus: true, placeholder:"Bank account number" %>
    </div>
    <div class="field">
        <%= f.text_field :country, class:"form-control", autofocus: true, placeholder:"Country" %>
    </div>
    <div class="field">
        <%= f.text_field :account_holder_name, class:"form-control", autofocus: true, placeholder:"Name of account holder" %>
    </div>
    <div class="field">
        <%= f.text_field :account_holder_type, class:"form-control", autofocus: true, placeholder:"Individual or Corporate?" %>
    </div>
    <div class="field">
        <%= f.text_field :routing_number, class:"form-control", autofocus: true, placeholder:"Routing Number" %>
    </div>

    <div class="actions text-right">
        <%= f.submit "Secure Submission", class:"btn btn-light btn-lg" %>
    </div>
<% end %>