<%= form_for(@pharmacy) do |f| %>
  <% if @pharmacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pharmacy.errors.count, "error") %> prohibited this pharmacy from being saved:</h2>

      <ul>
      <% @pharmacy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_field :name, class:"form-control ", autofocus: true, placeholder:"Name" %>
  </div>
  <div class="field">
    <%= f.text_field :number, class:"form-control ", autocomplete: "off", placeholder:"Phone Number" %>
  </div>
  <div class="field">
    <%= f.text_field :supervisor, class:"form-control ", autocomplete: "off", placeholder:"Supervising Pharmacist" %>
  </div>
  <div class="field">
    <%= f.text_field :street, class:"form-control ", placeholder:"Street Address" %>
  </div>
  <div class="field">
    <%= f.text_field :website, class:"form-control ", placeholder:"Pharmacy Website" %>
  </div>
  <div class="field">
    <%= f.label :pharmacy_logo %>
    <%= f.file_field :avatar, class:"form-control" %>
  </div>
  <div class="actions text-right">
    <%= f.submit "Update!", class:"btn btn-light btn-lg cursor-pointer"%>
  </div>
<% end %>
