<%= form_for(@pharmacy, :html => {:id => "profileForm",:multipart => true, :remote => true}) do |f| %>
  <% if @pharmacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pharmacy.errors.count, "error") %> prohibited your information from being saved:</h2>

      <ul>
      <% @pharmacy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_field :name, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
    <label for="name">Pharmacy Name</label>
  </div>
  <div class="field">
    <%= f.text_field :number, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
    <label for="number">Phone Number</label>
  </div>
  <div class="field">
    <%= f.text_field :supervisor, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
    <label for="supervisor">Supervisor</label>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="field">
        <%= f.text_field :street, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
        <label for="street">Street</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.text_field :town, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
        <label for="town">Town</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.text_field :state, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
        <label for="state">State</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.text_field :zipcode, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
        <label for="zipcode">Zipcode</label>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.text_field :hours, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
    <label for="hours">Weekday business hours (Ex: 9AM - 5PM or Closed)</label>
  </div>
  <div class="field">
    <%= f.text_field :saturday, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
    <label for="hours">Saturday business hours (Ex: 9AM - 5PM or Closed)</label>
  </div>
  <div class="field">
    <%= f.text_field :sunday, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
    <label for="hours">Sunday business hours (Ex: 9AM - 5PM or closed)</label>
  </div>
  <div class="field">
    <%= f.text_field :delivers, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
    <label for="delivers">Do you deliver? (Ex: yes, no, or sometimes)</label>
  </div>
  <div class="field">
    <%= f.text_field :website, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
    <label for="website">Website</label>
  </div>
  <!--<div class="field">-->
  <!--  <%= f.label :pharmacy_logo %>-->
  <!--  <%= f.file_field :avatar, class:"form-control font-14" %>-->
  <!--</div>-->
  <div class="actions text-right">
    <%= f.submit "Update!", class:"btn btn-info font-14 btn-lg cursor-pointer update-profile" %>
  </div>
<% end %>
