<% if orders.empty? %>
    <div class="col-md-12 no-horizontal-padding add-padding-top add-padding-bottom">
        <p class="font-16 text-center">No orders pending pickup</p>
    </div>
<% else %>
    <% orders.each do |ord| %>
        <% unless ord.delivered? %>
            <div class="modal" id="pendingPickUpOrderDetails<%= ord.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="orderDetailsContent<%= ord.id %>">
                    <div class="modal-header background-transparent">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <%= ord.confirmation %>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="padding-bottom: 10px;">
                                <p class="font-14 theme-green">Received: <%= ord.ordered_at.strftime('%m/%d/%y at %l:%M%p') %></p>
                                <p class="font-16 bold no-margin-bottom">Items ordered</p>
                            </div>
                        </div>
                        <% ord.item_list_array.each_with_index do |i, idx| %>
                            <div class="row">
                                <div class="col-md-12 no-horizontal-padding">
                                    <div class="float-left theme-green" style="width: 10%;">
                                        <p class="font-16 theme-blue no-margin-bottom"><%= ord.item_list_count_array[idx] %></p>
                                    </div>
                                    <div class="float-right" style="width: 90%;">
                                        <p class="font-16 no-margin-bottom"><%= ord.get_item(i).name if !ord.get_item(i).nil? %></p>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom: 3px;">
                                    <div class="float-right" style="width: 90%;">
                                        <p class="font-14 no-margin-bottom"><em><%= "'#{ord.get_instruction(idx)}'" if !ord.get_instruction(idx).nil? %></em></p>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12" style="padding-bottom: 10px;">
                                <p class="font-16 bold no-margin-bottom">Customer contact</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="font-16 add-margin-bottom"><%= ord.delivery_email %></p>
                                <p class="font-16"><%= ord.phone_number %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 bold">Total</p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 bold">Tax</p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 bold">Tip</p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 bold">Fee</p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 bold">Net</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="font-16 theme-green">$<%= ord.cart.total_cost %></p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 theme-green">$<%= ord.cart.calculate_tax %></p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 theme-green">$<%= ord.cart.tip_amount %></p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 theme-green">0.0</p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-16 theme-green">$<%= ord.cart.final_amount.to_f.round(2) %></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="orderDetailsModalFooter<%= ord.id %>">
                        <%= link_to cancel_order_path(:id => ord.id), class:"btn btn-danger box-shadow", id:"cancelButton#{ord.id}", remote: true do %>
                            <i class="fa fa-times-circle"></i> Cancel order
                        <% end %>
                        <%= link_to mark_as_picked_up_path(:id => ord.id), class:"btn btn-success box-shadow", id:"markAsPickedUpButton#{ord.id}", remote: true do %>
                            Mark as picked up <i class="fa fa-check-circle"></i>
                        <% end %>
                    </div>
                </div>
              </div>
            </div>
        <% end %>
        <div class="table-body row" id="pendingPickUp<%= ord.id %>" style="padding: 15px !important;">
            <div class="float-left" style="width: 15%;">
                <h6><%= ord.confirmation %></h6>
            </div>
            <div class="float-left" style="width: 25%;">
                <h6><%= ord.ordered_at.strftime('%-m/%e/%y at %l:%M%p') %></h6>
            </div>
            <div class="float-left" style="width: 45%;">
                <h6>
                    <a class="background-transparent theme-blue cursor-pointer" data-toggle="modal" data-target="#pendingPickUpOrderDetails<%= ord.id %>">
                        View order details
                    </a>
                </h6>
            </div>
            <div class="float-left" style="width: 15%;">
                <h6><%= ord.status %></h6>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-md-12 no-horizontal-padding">
                <hr style="margin: 0;">
            </div>
        </div>
    <% end %>
<% end %>