<style>
    .spinner-row {
        display: none;
    }
    
    #card-form {
        display: none;
    }
    .cancel-submission-div {
        padding: none;
        margin-top: 10px;
    }
    .cancel-submission {
        font-size: 15px;
        background-color: transparent;
    }
    .cancel-submission:hover {
        background-color: transparent;
        cursor: pointer;
    }
    .payment-vector {
        width: 50%;
    }
    .last-four-div {
        padding-top: 5px;
        vertical-align: middle;
    }
    .last-four {
        font-size: 14px;
    }
</style>

<div class="row" id="updateProfile">
    <div class="col-md-12">
        <h5 class="weighted bold">Settings</h5>
        <hr>
    </div>
    <div class="col-md-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active nav-link-settings font-14" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Account</a>
          <a class="nav-link nav-link-settings font-14" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Billing</a>
        </div>
        <section class="notice" style="display: none;">
            <div class="alert alert-success no-border-radius alert-dismissible fade show notice-alert" role="alert">
                <i class="fa fa-check-circle"></i>
                <span class="notice-text"><%= notice %></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </section>
    </div>
    <div class="col-md-8 offset-md-1">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active box-shadow bordered" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" style="padding: 10px 15px;">
                <%= render 'form' %>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" id="">
                <div id="currentPlan" class="row">
                    <div class="col-md-12" style="padding-bottom: 20px;">
                        <h6 class="font-16 bold">Plan</h6>
                        <hr>
                        <div class="float-left" style="width: 47.5%;">
                            <div class="card">
                                <div class="card-header background-blue white font-16 text-center">
                                    Startup
                                </div>
                                <div class="card-body background-dark font-24 white text-center" style="padding: 40px;">
                                    <b>$99.99</b> </span class="font-14">/month</span>
                                </div>
                                <div class="card-footer font-14 text-center" style="padding-bottom: 20px;">
                                    <div>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Search page visibility</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Unlimited notifications</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> 2000 message limit</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> 1000 calls limit</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-times theme-red"></i> Activity summary analysis</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-times theme-red"></i> Weekly stats report emails</h5>
                                    </div>
                                    <div class="add-padding-top">
                                        <a class="btn btn-primary btn-block no-box-shadow" <% if check_current_plan('beginner') == 'This is your current plan'%>id="cancelSubscription"<% end %>>
                                            <%= check_current_plan('beginner') %>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="float-left" style="width: 5%;"></div>
                        <div class="float-right" style="width: 47.5%;">
                            <div class="card">
                                <div class="card-header background-blue white font-16 text-center">
                                    Pro
                                </div>
                                <div class="card-body background-dark font-24 white text-center" style="padding: 40px;">
                                    <b>$129.99</b> </span class="font-14">/month</span>
                                </div>
                                <div class="card-footer font-14 text-center" style="padding-bottom: 20px;">
                                    <div>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Sponsored search page visibility</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Unlimited notifications</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Unlimited text messages</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Unlimited calls</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Activity summary analysis</h5>
                                        <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Weekly stats report emails</h5>
                                    </div>
                                    <div class="add-padding-top">
                                        <a class="btn btn-primary btn-block" <% if check_current_plan('beginner') == 'This is your current plan'%>id="cancelSubscription"<% end %>>
                                            <%= check_current_plan('pro') %>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="font-16 bold">Debit/Credit Card</h6>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <div id="pharmacyCard" class="box-shadow bordered" style="padding: 10px 15px;">
                            <% if current_pharmacy.card_token %>
                                <%= render 'card_data' %>
                            <% else %>
                                <%= render 'card_form' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#card-form').hide();
    $('.spinner-row').hide();
    
    $('#cancelSubscription').on('click', function() {
        var innerValue = $(this).text();
        if (innerValue == 'Cancel subscription') {
            $.get('/cancel_subscription');
        } else {
            window.location.replace('/choose_subscription');
        }
    });
    
    function showCardForm() {
        $('#confirmation-form').hide();
        $('#card-form').show();
    };
    function hideCardForm() {
        var conf = document.getElementById('confirmation-form');
        $('#card-form').hide();
        $('#confirmation-form').show();
    };
    
    // Create a Stripe client
    var stripe = Stripe('pk_live_4pzDtq9AB3QeJbeJq1YXLaya');
    
    // Create an instance of Elements
    var elements = stripe.elements();
    
    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };
    
    // Create an instance of the card Element
    var card = elements.create('card', {style: style});
    
    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');
    
    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
    
    // Handle form submission //
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the user if there was an error
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
                $('.error-card').hide();
                $('#payment-form').hide();
                $('#pharmacyCard').append(`
                    <div class="row card-bullet-loader">
                        <div class="col-md-12 text-center">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-blue"></i>
                        </div>
                        <div class="col-md-12 text-center">
                            Saving...
                        </div>
                    </div>
                `);
              // Send the token to your server
              stripeTokenHandler(result.token);
            }
      });
    });
    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
        $.get( "/pharmacy/update_card?stripeToken="+token.id, function( data ) {
            // $('#pharmacyCard').html(data);
        }).fail(function(error) {
            console.log(error);
            $('.card-bullet-loader').remove();
            $('#payment-form').show();
            $('.error-card').show();
        });;
    };
</script>
