<body>
  <% if params[:search] %>
    <div class="search-container">
      <div class="card no-border-radius">
        <div class="card-body">
          <div class="col-md-12 search-header">
            <h4>Search results for: <span class="theme-blue"><%= params[:search] %></span></h4>
            <p><%= pluralize(@queries.count, "result") %> found</p>
          </div>
          <div class="col-md-12">
            <hr style="margin-top: 0 !important;">
          </div>
          <% @queries.each do |ph| %>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="theme-blue"><%= ph.name %></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h5 class="location-green"><%= ph.street %></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p class=""><em><i class="fa fa-globe"></i> <a class="background-transparent theme-blue" href="<%= check_website(ph.website) %>"><%= check_website(ph.website) %></a></em></p>
                </div>
                <div class="col-md-2">
                  <p class=""><em><i class="fa fa-phone"></i> <%= ph.number %></em></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="">
                        <i class="fa fa-car"></i> Provides On-demand Delivery
                      </h6>
                    </div>
                    <div class="col-md-4">
                      <h6 class="">
                        <i class="fa fa-comments-o"></i> Online Customer Service Available
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</body>