var box = document.getElementById('pendingPickUp<%= @order.id %>');
var modal = document.getElementById('pendingPickUpOrderDetails<%= @order.id %>');
$('#cancelButton<%= @order.id %>').remove();
$('.no-delivered-orders').hide();
$('.delivered-orders').prepend(`
    <div class="modal" id="deliveredOrderDetails<%= @order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="orderDetailsContent<%= @order.id %>">
            <div class="modal-header background-transparent">
                <h5 class="modal-title" id="exampleModalLabel">
                    <%= @order.confirmation %>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 10px;">
                        <p class="font-14 theme-green">Received: <%= @order.ordered_at.strftime('%m/%d/%y at %l:%M%p') %></p>
                        <p class="font-16 bold no-margin-bottom">Items ordered</p>
                    </div>
                </div>
                <% @order.item_list_array.each_with_index do |i, idx| %>
                    <div class="row">
                        <div class="col-md-12 no-horizontal-padding">
                            <div class="float-left theme-green" style="width: 10%;">
                                <p class="font-16 theme-blue"><%= @order.item_list_count_array[idx] %></p>
                            </div>
                            <div class="float-right" style="width: 90%;">
                                <p class="font-16"><%= @order.get_item(i).name if !@order.get_item(i).nil? %></p>
                            </div>
                        </div>
                    </div>
                <% end %>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <p class="font-16 bold">Delivery details</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-16 add-margin-bottom"><%= @order.street_address %><%= ' ' + @order.apartment_number if @order.apartment_number %></p>
                        <p class="font-16 add-margin-bottom"><%= @order.town_state_zipcode %></p>
                        <p class="font-16 add-margin-bottom"><%= @order.phone_number %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 bold">Total</p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 bold">Tax</p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 bold">Tip</p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 bold">Fee</p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 bold">Net</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p class="font-16 theme-green">$<%= @order.cart.total_cost %></p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 theme-green">$<%= @order.cart.calculate_tax %></p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 theme-green">$<%= @order.cart.tip_amount %></p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 theme-green">0.0</p>
                    </div>
                    <div class="col-md-2">
                        <p class="font-16 theme-green">$<%= @order.cart.final_amount.to_f.round(2) %></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="table-body row" id="deliveredOrder<%= @order.id %>" style="padding: 15px !important;">
        <div class="float-left" style="width: 15%;">
            <h6><%= @order.confirmation %></h6>
        </div>
        <div class="float-left" style="width: 25%;">
            <h6><%= @order.ordered_at.strftime('%-m/%e/%y at %l:%M%p') %></h6>
        </div>
        <div class="float-left" style="width: 45%;">
            <h6>
                <a class="background-transparent theme-blue cursor-pointer" data-toggle="modal" data-target="#deliveredOrderDetails<%= @order.id %>">
                    View order details
                </a>
            </h6>
        </div>
        <div class="float-left theme-green" style="width: 15%;">
            <h6><%= @order.status %></h6>
        </div>
    </div>
    <div class="row" style="margin: 0;">
        <div class="col-md-12 no-horizontal-padding">
            <hr style="margin: 0;">
        </div>
    </div>
`);
$('#pendingPickUp<%= @order.id %>').fadeOut().remove();
var order_count = <%= @orders.count %>;
var processed_count = <%= processed_order_count %>;
if (order_count == 0) {
    $('.pending-pickup-orders').append(`
        <div class="col-md-12 no-horizontal-padding add-padding-top add-padding-bottom">
            <p class="font-16 text-center">No orders pending pickup</p>
        </div>
    `);
    if (processed_count == 0) {
        $('.badge-circle-processed-order').remove();
    }
}
$('#markAsPickedUpButton<%= @order.id %>').html(`
    Picked up!
`);
toastr["success"]('This order has been mark as picked up!');