<style>
    .fa {
        margin-right: 15px;
    }
    p {
        letter-spacing: 1.5px;
    }
</style>

<div class="add-padding-bottom"><p class="font-16 bold">Near you</p></div>
<div style="display: none; padding: 70px;" id="bulletSpinner"><%= render 'common/bullet_spinner' %></div>
<div class="row search-results">
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
    <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
</div>