<style>
    input, form {
        margin-top: 0 !important;
    }
    form {
        padding-top: 0 !important;
    }
</style>

<div class="modal <%= pharmacy_is_closed(@pharmacy) %>" id="deliveryHours" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content box-shadow batch-list">
        <div class="modal-header background-transparent">
            <h5 class="modal-title font-18">Deliver Hours</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#deliveryHours').remove();">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="padding-top: 20px !important;">
            <% if pharmacy_is_closed(@pharmacy) == 'show' %>
                <div class="alert alert-danger alert-dismissible fade show font-16" role="alert">
                    This store is currently closed
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% end %>
            <div class="float-left" style="width: 33.3%;">
                <% ['Monday', 'Tuesday', 'Wednesdday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].each do |day| %>
                    <p class="font-16 <%= current_day?(day) %>"><%= day %></p>
                <% end %>
            </div>
            <div class="float-left" style="width: 66.6%;">
                <% ['Monday', 'Tuesday', 'Wednesdday', 'Thursday', 'Friday'].each do |day| %>
                    <p class="font-16 <%= current_day?(day) %>"><%= @pharmacy.weekday_hours %></p>
                <% end %>
                <p class="font-16 <%= current_day?('Saturday') %>"><%= @pharmacy.saturday_hours %></p>
                <p class="font-16 <%= current_day?('Sunday') %>"><%= @pharmacy.sunday_hours %></p>
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-md-12 add-padding-top">
                    <p class="font-16 theme-yellow">Holiday hours may vary</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="modal" id="contactInfo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content box-shadow batch-list">
        <div class="modal-header background-transparent">
            <h5 class="modal-title font-18">Contact Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center" style="padding-top: 20px !important;">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-16 bold">Pharmacist</p>
                    <p class="font-16"><%= @pharmacy.supervisor %></p>
                </div>
                <div class="col-md-12">
                    <p class="font-16 bold">Phone</p>
                    <p class="font-16"><%= @pharmacy.number %></p>
                </div>
                <div class="col-md-12">
                    <p class="font-16 bold">Email</p>
                    <p class="font-16"><%= @pharmacy.email %></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<section id="pharmacyShowHeader" class="no-border-radius no-margin-bottom" style='height: 250px; background-image: url("/images/gradient_background.jpg"); background-size: cover;'>
    
</section>
<div >
        <div class="container pharmacy-banner mobile-container" style="margin-top: -275px;">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="bold white" style="margin-top: 20px;"><%= @pharmacy.name %></h2>
                    <p class="font-16 white">
                        <%= "#{@distance.round(2)} miles" %> &bull;
                        <%= @pharmacy.full_address_without_zip %>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-light font-14" data-toggle="modal" data-target="#deliveryHours">
                                <i class="fa fa-clock-o"></i> Delivery Hours
                            </button>
                            <button class="btn btn-light font-14" style="margin-left: 8px;" data-toggle="modal" data-target="#contactInfo">
                                <i class="fa fa-info-circle"></i> Contact Info
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section id="inventorNavigation">
    <div class="jumbotron no-border-radius" style="padding-top: 0px; padding-bottom: 0;">
        <div class="container mobile-container no-horizontal-mobile-padding">
            <div class="row">
                <div class="col-md-4 nbrm no-horizontal-mobile-padding" style="padding-top: 15px; padding-bottom: 15px; border-right: 1px solid #e1e1e2;">
                    <form action="/item_search" method="get" id="itemSearchForm">
                        <div class="input-group mb-3" style="margin-bottom: 0 !important;">
                            <input class="form-control font-16 no-box-shadow search-value background-transparent no-border" style="margin-top: 0 !important; padding-left: 0;"
                                id="searchInPage" name="new-pharmacy-search" placeholder="Search a product">
                            <div class="input-group-prepend">
                                <span class="input-group-text background-transparent prepend-box no-border no-horizontal-padding" id="basic-addon1">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                    <button type="button" style="display: none;">Submit</button>
                </div>
                <div class="col-md-4 nbrm no-horizontal-mobile-padding" style="padding-top: 15px; padding-bottom: 15px; border-right: 1px solid #e1e1e2;">
                    <div class="dropdown">
                        <button class="btn btn-link auto-color no-underline btn-block no-horizontal-padding no-horizontal-padding-mobile" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories <span class="text-right" style="margin-left: 70%;"><i class="fa fa-angle-down"></i></span>
                        </button>
                        <div class="dropdown-menu"  style="margin-top: 300px !important;" aria-labelledby="dropdownMenuButton">
                            <% @categories.each do |cat| %>
                                <a class="dropdown-item" href="#<%= cat.name.split(' ').join('_') %>"><%= cat.name %></a>
                                <div class="dropdown-divider"></div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="inPageSearchCount" style="display: none;">
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <p class="font-16" id="pageSearchTotal" style="margin-bottom: 0;"></p>
        </div>
    </div>
</section>

<section id="inventory<%= @pharmacy.inventory.id %>" style="padding-bottom: 20px;">
    <div class="container">
        <div class="row" id="searchPharmacyItems">
            <% @categories.each do |category| %>
                <%= render partial: 'items', locals: {category: category, items: @pharmacy.inventory.items.active} %>
            <% end %>
        </div>
    </div>
</section>

<script>
    $('#rxOrderForm').on('submit', e => {
        $('#rxOrderForm').hide();
        $('#spinner0').show();
    });
    
    $('#orderTrackingForm').on('submit', e => {
        $('#orderTrackingForm').hide();
        $('#spinner1').show();
    });
    
    function getItemCount(id) {
        return $('#itemCount'+id).text();
    }
    
    function increaseItemCount(elem) {
        var id = elem.id;
        var decreaseCount = document.getElementsByClassName('decrease-item-count'+id)[0];
        var count = getItemCount(id);
        $('#itemCount'+id).html(parseInt(count) + 1);
        if (document.getElementsByClassName('decrease-item-count'+id)[0].hasAttribute('disabled')) {
            document.getElementsByClassName('decrease-item-count'+id)[0].removeAttribute('disabled');
            document.getElementsByClassName('add-to-cart'+id)[0].removeAttribute('disabled');
        }
    }
    
    function decreaseItemCount(elem) {
        var id = elem.id;
        var decreaseCount = document.getElementsByClassName('decrease-item-count'+id)[0];
        var count = getItemCount(id);
        $('#itemCount'+id).html(parseInt(count) - 1);
        if (count - 1 == 0) {
            document.getElementsByClassName('decrease-item-count'+id)[0].setAttribute('disabled', 'true');
            document.getElementsByClassName('add-to-cart'+id)[0].setAttribute('disabled', 'true');
        }
    }
    
    function addToCart(elem) {
        var id = elem.id;
        var tempId = $('#tempId').text();
        var count = $('#itemCount'+id).text();
        var instructions = document.getElementById('specialInstructions'+id).value;
        console.log(instructions);
        var cart = {
            "item_id": id,
            "item_count": count,
            "item_instructions": instructions,
            "temp_id": tempId
        }
        var cartItemCount = $('#currentItemCount').text();
        $('.add-to-cart'+id).css('opacity', '0.7')
        .html('adding to cart...');
        $.post('/add_item_to_cart', {cart: cart});
    }
    
    function removeFromCart(elem) {
        var id = elem.id;
        var tempId = $('#tempId').text();
        var count = $('#setForRemoval'+id).text();
        var cart = {
            "item_id": id,
            "temp_id": tempId
        }
        var cartItemCount = $('#currentItemCount').text();
        $('.remove-from-cart'+id).css('opacity', '0.7')
        .html('removing from cart...');
        $.post('/remove_item_from_cart', {cart: cart});
    }
    
    $('#itemSearchForm').on('submit', function(event) {
        event.preventDefault();
    });
    
    $('#searchInPage').on('keyup', e => {
        $('#inPageSearchCount').show()
        var value = document.getElementById('searchInPage').value.toLowerCase();
        if (value == '') {
            $('#inPageSearchCount').hide()
        }
        var data = {"param": value, "pharmacy_id": <%= @pharmacy.id %>};
        $.get('/search_pharmacy_item', { data: data });
    });
    
</script>
