<div class="row" id="pharmacy-login" style="padding-top: 20px;">
  <div class="col-md-4 offset-md-4 pharmacy-login-form" style="background: #fff !important;">
    <% if flash[:notice] %>
        <div class="alert alert-success font-16" role="alert">
            <%= notice %>
        </div>
    <% end %>
    <div class="header">
      <h5 class="text-center medium-gray">Reset your password</h5>
      <hr style="text-align: center; width: 25%;">
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off", class:"form-control height-50 no-box-shadow", autofocus: true, placeholder: "Current Password" %>
      </div>
      
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class:"form-control height-50 no-box-shadow", autofocus: true, placeholder: "New Password" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control height-50 no-box-shadow", autofocus: true, placeholder: "New Password Confirmation" %>
      </div>
    
      <div class="actions" style="margin-top: 10px;">
        <div class="row">
          <div class="col-md-12 text-center">
            <%= f.submit "Update", class:"btn btn-primary btn-block height-50 box-shadow" %>
            <hr style="text-align: center; width: 25%;">
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"btn btn-link theme-red", method: :delete %>
      </div>
    </div>
  </div>
</div>
