<div class="row" id="pharmacy-login">
  <div class="col-md-4 offset-md-4 pharmacy-login-form">
    <div class="header"><h4 class="text-center medium-gray">Pharmacy signup</h4></div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="field">
        <%= f.email_field :email, class:"form-control form--control font-14", autofocus: true, placeholder:" " %>
        <label for="email">Email</label>
      </div>
    
      <div class="field">
        <%= f.password_field :password, class:"form-control form--control font-14", autocomplete: "off", placeholder:" " %>
        <label for="password">Password</label>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, class:"form-control form--control font-14", autocomplete: "off", placeholder:" " %>
        <label for="password confirmation">Password Confirmation</label>
      </div>
    
      <div class="actions" style="padding-top: 30px;">
        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Create account", class:"btn btn-light btn-block" %>
          </div>
          <div class="col-md-12 add-padding-top">
            <%= link_to "Log into existing account", pharmacy_login_path, class:"btn btn-info btn-block white" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>