<% @requests.each do |r| %>
    <div class="row request-row" id="requestRow<%= r.id %>">
        <div class="modal fade" id="editRx<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title font-16" id="exampleModalLabel"><i class="fa fa-exclamation-circle"></i> Confirm birth year of rx recipient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="updateRxDobModalBody-<%= r.rx %>">
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom: 10px;">
                            <h6 class="font-14 theme-blue">If the following rx exists, confirm the birth year (from your records)</h6>
                            <h6 class="font-14 theme-yellow text-center add-padding-top bold">Rx #<span id="rxSpan"><%= r.rx %></span></h6>
                        </div>
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control font-14" id="editRxField-<%= r.rx %>" placeholder="birth year (format: yyyy)">
                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary transaction-buttons white updateRxBtn-<%= r.rx %>" id="<%= r.rx %>" onclick="updateRxDob0(this)"><i class="fa fa-check-circle"></i> Update</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
            <%= r.rx %>
        </div>
        <div class="col-md-3">
            <%= to_mm_dd_yy(r.created_at) %>
        </div>
        <div class="col-md-2">
            <span class="<%= get_type_color(r.type) %> bold"><%= r.type %></span>
        </div>
        <div class="col-md-1">
            <a class="btn btn-secondary white transaction-buttons" href="/rx?type=new&request_type=<%= r.type %>&request_rx=<%= r.rx %>">
               <i class="fa fa-search"></i> View
            </a>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info btn-block white transaction-buttons no-box-shadow <% if !r.get_rx.dob.nil? %>disabled<% end %>" id="editRx" data-toggle="modal"
                <% if r.get_rx.dob.nil? %>data-target="#editRx<%= r.id %>"<% end %>>
                <i class="fa fa-plus-circle"></i> Confirm birth year
            </button>
        </div>
        <div class="col-md-1">
            <div class="dropdown show" style="padding-bottom: 0 !important;">
                <a class="btn btn-secondary btn-block dropdown-toggle rx-dropdown transaction-buttons" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="dropdown-item">
                        <button class="btn btn-link font-12 no-padding-left" id="<%= r.id %>-invalid" type="<%= r.type %>" status="invalid" onclick="setRequestInvalid(this)">
                            Invalid (rx does not exist)
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<% end %>