<div class="all-requests">
    <div class"row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <section class="delivery-info">
                        <h5><%= @delivery.recipient_address %></h5>
                        <h6 class="font-14"><%= @delivery.recipient_phone_number %></h6>
                    </section>
                    <section class="signature">
                        <% if @delivery.signed %>
                            <h6 class="signed-on theme-green">Signed on <%= signed_on(@delivery)%></h6>
                            <%= link_to 'Go Back', my_deliveries_path, class:"btn btn-primary white" %>
                        <% else %>
                            <%= render 'signature' %>
                        <% end %>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>