<%= form_for ([@deliverable, @delivery]), :html=>{:id=>"addPatient",:multipart => true,:remote=>true} do |f| %>
    <% if @delivery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>
    
          <ul>
          <% @delivery.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <div class="patient-form" id="">
        <div class="col-md-12">
            <div class="row add-padding-top">
                <div class="col-md-7 field" id="patient-full-name-div">
                    <%= f.text_field :recipient_name, class:"form-control font-14", autofocus: true, placeholder:" " %>
                    <label for="patient-full-name">Patient Name</label>
                </div>
                <div class="col-md-3 field">
                    <%= f.text_field :recipient_phone_number, class:"form-control font-14", autofocus: true, placeholder:" " %>
                    <label for="patient-number">Phone</label>
                </div>
                <div class="col-md-2 field">
                    <%= f.text_field :copay, class:"form-control font-14", autofocus: true, placeholder:" " %>
                    <label for="patient-copay">C/P</label>
                </div>
            </div>
            <div class="row add-padding-top">
                <div class="col-md-12 field">
                    <%= f.text_field :recipient_address, class:"form-control font-14", autofocus: true, placeholder:" " %>
                    <label for="patient-address">Patient Address</label>
                </div>
            </div>
            <div class="row add-padding-top">
                <div class="col-md-12 field">
                    <%= f.text_field :medications, class:"form-control font-14", autofocus: true, placeholder:" " %>
                    <label for="patient-medications">Medications for delivery (separate by a comma)</label>
                </div>
            </div>
        </div>
        <div id="" class="col-md-12 remove-patient"></div>
    </div>

    <div class="form-actions text-right col-md-12">
        <%= f.submit "Add Delivery", class:"btn btn-primary white cursor-pointer" %>
    </div>
<% end %>