<!-- Modal -->
<div class="modal fade" id="exampleModal<%= @rx.rx %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-mobile"></i> Send a text message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-12" style="padding-bottom: 30px;">
                    <% if @rx.phone_number.nil? %><h6 class="font-14 theme-red">No phone number provided for this rx</h6><% end %>
                    <h6 class="font-14 theme-blue">Message preview (how your text will show up)</h6>
                    <div class="font-14">
                        <span style="color: #878787 !important;">From <%= current_pharmacy.name %>:</span> 
                        <span id="messagePreview-<%= @rx.rx %>" style="color: #b4b4b4 !important;"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <textarea type="text" class="form-control font-14 messageText" id="messageText-<%= @rx.rx %>" onkeyup="showPreview(this)" placeholder="Type text message"></textarea>
                </div>
                <div class="col-md-12 add-padding-top font-13">
                    <b>IMPORTANT:</b> Always be sure that you are texting the correct number,
                    and avoid using specific identifiers such as names or other Hipaa-protected
                    personally identifiable information.
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <span class="badge badge-success" id="onMessageSent-<%= @rx.rx %>" style="display: none;"></span>
        <button type="button" class="btn btn-primary send-patient-message" id="<%= @rx.rx %>" onclick="sendPatientMessage(this)"><i class="fa fa-paper-plane-o"></i> Send message</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editRx<%= @rx.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-14" id="exampleModalLabel"><i class="fa fa-pencil"></i> Edit rx details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="updateRxDobModalBody-<%= @rx.rx %>">
            <div class="row">
                <div class="col-md-12" style="padding-bottom: 10px;">
                    <h6 class="font-14 theme-yellow text-center add-padding-top bold">Rx #<span id="rxSpan"><%= @rx.rx %></span></h6>
                </div>
                <div class="col-md-8 offset-md-2">
                    <input type="text" class="form-control font-14 no-box-shadow" id="editRxField-<%= @rx.rx %>" placeholder="birth year (format: yyyy)" value="<%= @rx.dob if !@rx.dob.nil? %>">
                    <input type="text" class="form-control font-14 no-box-shadow" id="editRxPhone-<%= @rx.rx %>" placeholder="phone number" value="<%= @rx.phone_number if !@rx.phone_number.nil? %>">
                    <!--<input type="text" class="form-control font-14 no-box-shadow" id="editRxAddress-<%= @rx.rx %>" placeholder="address" value="<%= @rx.address if !@rx.address.nil? %>">-->
                    <!--<div class="add-padding-top"></div>-->
                    <!--<textarea type="text" class="form-control border-radius font-14 height-40 no-box-shadow" style="height: 80px !important;" -->
                    <!--    id="editRxDeliveryInstructions-<%= @rx.rx %>" placeholder="Delivery instructions"><%= @rx.delivery_instructions if !@rx.delivery_instructions.nil? %></textarea>-->
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary transaction-buttons white updateRxBtn-<%= @rx.rx %>" id="<%= @rx.rx %>" onclick="updateRxDob(this)"><i class="fa fa-check-circle"></i> Update</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-1">
        <span class="batches-details">
            <span class="theme-blue"><%= @rx.rx %></span>
        </span>
    </div>
    <div class="col-md-2">
        <span class="batches-details weighted">
            <%= to_mm_dd_yy(@rx.last_filled_on) %>
        </span>
    </div>
    <div class="col-md-1">
        <span class="batches-details green">
            <b id="rxStatus<%= @rx.id %>"><span class="background-transparent no-underline <%= get_status_color(@rx.current_status) %>"><%= @rx.current_status %></span></b>
        </span>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-info btn-block white transaction-buttons" id="sendPatientUpdate" data-toggle="modal" data-target="#exampleModal<%= @rx.rx %>">
                    <i class="fa fa-mobile"></i> Message Patient
                </button>
            </div>
            <div class="col-md-3">
                <a class="btn btn-secondary btn-block rx-dropdown transaction-buttons disabled" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Get Driver
                </a>
            </div>
            <div class="col-md-3">
                <div class="dropdown show" style="padding-bottom: 0 !important;">
                    <a class="btn btn-secondary btn-block dropdown-toggle rx-dropdown transaction-buttons" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mark as
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="dropdown-item">
                            <button class="btn btn-link font-12 no-padding-left" id="<%= @rx.id %>-picked" status="picked" onclick="updateRxStatus(this)">
                                Picked up
                            </button>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-item">
                            <button class="btn btn-link font-12 no-padding-left" id="<%= @rx.id %>-refilled" status="refilled" onclick="updateRxStatus(this)">
                                Refilled
                            </button>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-item">
                            <button class="btn btn-link font-12 no-padding-left" id="<%= @rx.id %>-inactive" status="inactive" onclick="updateRxStatus(this)">
                                Inactive
                            </button>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-item">
                            <button class="btn btn-link font-12 no-padding-left" id="<%= @rx.id %>-sent" status="deliverySent" onclick="updateRxStatus(this)">
                                Sent for delivery
                            </button>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-item">
                            <button class="btn btn-link font-12 no-padding-left" id="<%= @rx.id %>-hold" status="on hold" onclick="updateRxStatus(this)">
                                On hold
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-5 no-horizontal-padding">
                        <button class="btn btn-secondary btn-block white transaction-buttons" id="editRx" data-toggle="modal" data-target="#editRx<%= @rx.id %>">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                    <div class="col-md-5 offset-md-1 no-horizontal-padding">
                        <button class="btn btn-warning btn-block transaction-buttons white deleteRxBtn-<%= @rx.rx %>" id="<%= @rx.rx %>" onclick="deleteRx(this)">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" id="newDeliveryRequest<%= @rx.id %>">
        <% if @rx.delivery_requested %>
            <span class="badge badge-success verified-alert-badge">
                Delivery request: <%= @rx.get_delivery_details.delivery_time if !@rx.get_delivery_details.nil? %>
            </span>
        <% elsif @rx.details_missing %>
            <span class="badge badge-warning badge-warning-<%= @rx.rx %>">
                Details missing
            </span>
        <% end %>
    </div>
    <div class="col-md-1" id="newRefillRequest<%= @rx.id %>">
        <% if @rx.refill_requested %>
            <span class="badge badge-warning verified-alert-badge">
                <i class="fa fa-refresh"></i> Refill
            </span>
        <% end %>
    </div>
</div>