<div id="allNotifications">
    <% notifications.reverse.each do |n| %>
        <div class="notification-row" id="notification-<%= n.id %>">
            <div class="col-md-12 notification-col">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 15px;">
                        <h6 class="font-16 medium-gray bold">
                            <% if n.notification_type == 'delivery' %>
                                Delivery request
                            <% elsif n.notification_type == 'refill' %>
                                Refill request
                            <% end %>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <% if n.notification_type == 'delivery' %>
                            <i class="fa fa-car theme-blue" style="font-size: 40px;"></i>
                        <% elsif n.notification_type == 'refill' %>
                            <i class="fa fa-refresh theme-blue" style="font-size: 40px;"></i>
                        <% end %>
                    </div>
                    <div class="col-md-7 no-horizontal-padding notification-content font-14">
                        <%= n.content %>
                    </div>
                    <div class="col-md-3 notification-content">
                        <div class="float-left" style="width: 47.5%;">
                            <a class="btn btn-warning circle-btn" href="/rx?type=new&request_type=<%= n.notification_type %>&request_rx=<%= n.rx %>" id="open-notif">
                                <i class="fa fa-search" style="font-size: 15px;"></i>
                            </a>
                        </div>
                        <div class="float-left" style="width: 5%;"></div>
                        <div class="float-right" style="width: 47.5%;">
                            <%= link_to dismiss_notification_path(:id => n.id), class:'btn btn-warning circle-btn', remote: true do %>
                                <i class="fa fa-times-circle" style="font-size: 15px;"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>