<style>
    .requests-index-header {
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }
    .main-card, .main-page-card {
        padding: none !important;
    }
    .batches-buttons {
        font-size: 12px;
        padding: 10px;
    }
    #requestCountCard {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }
    .batch-list {
        box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
        position: relative;
        height: 100%;
    }
    .create-batch {
        display: block;
    }
    .batch-search {
        border-left: none !important;
        border-right: none !important;
        border: 1px solid #c5c5c6 !important;
        border-radius: 0;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        box-shadow: none !important;
        padding-left: 10px !important;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: auto !important;
    }
    #supervisorSignature {
        border-left: none !important;
        border-right: none !important;
        border: 1px solid #c5c5c6 !important;
        border-radius: 0;
        box-shadow: none !important;
        padding-left: 5px !important;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: auto !important;
    }
    .modal, .modal-content {
        border-color: #e1e1e2;
    }
    .remove-patient {
        padding-top: 5px;
    }
    .modal-header {
        background-color: #e1e1e2;
        border-bottom-color: #e1e1e2;
    }
    .cancel-create {
        font-size: 14px;
        font-weight: 400px;
        padding: 13px;
    }
    .table-content {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #707071;
        font-size: 13px;
        border-bottom: 1px solid #e1e1e2;
    }
    .table-header-batch {
        border-top: 1px solid #e1e1e2;
        border-bottom: 1px solid #e1e1e2;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #e6ebf1;
        color: #59595a;
        font-size: 15px;
    }
    .ellipsis-border {
        padding: 2px;
        border: 1px solid #707071;
    }
    .d--toggle--info {
        border: 1px solid #128193;
    }
    .create-batch, .filter-batch {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    #placeholder {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #batchPageHeader {
        padding-bottom: 10px;
        border-bottom: 1px solid #e2e2e2;
    }
    #markPickedUpSpan {
        font-weight: 800px !important;
    }
    #markPickedUp {
        box-shadow: none !important;
    }
    .add-padding-top {
        padding-top: 15px;
    }
    #createButton {
        padding-top: 10px;
    }
    #batchCreation {
        text-align: center !important;
    }
    #batchSearchInput {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .hide {
        padding-top: 30px;
    }
    #scrollable {
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        top: 0;
    }
    #scrollableChild {
        position: relative;
        max-height: 100%;
        overflow: auto;
    }
    .search-load {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .no-match-error {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #onDutyMDAddon {
        border-right: none !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-color: #c5c5c6 !important;
    }
    #searchAddon {
        border-right: none !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-color: #c5c5c6 !important;
    }
    #requestsToday {
        padding-top: 5px;
        margin-bottom: 10px;
    }
    .submit-search {
        margin-top: 5px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    #sendSupervisorName {
        border-left: none !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        box-shadow: none !important;
    }
    #btnLoad {
        font-size: 14px !important;
    }
    .requests-index-header {
        opacity: 0.4;
    }
</style>

<% if current_pharmacy.sign_in_count < 2 %>
    <div class="modal" id="welcomeModal" tabindex="-1" role="dialog" style="display: inline; margin-top: 20px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content box-shadow batch-list">
            <div class="modal-header background-cyan white">
                <h5 class="modal-title font-18"><i class="fa fa-smile-o"></i> Welcome, <%= current_pharmacy.name %>!</h5>
            </div>
            <div class="modal-body" style="height: 350px; padding-top: 20px !important;">
                <div id="scrollable" style="width: 100% !important;">
                    <div id="scrollableChild" style="width: 100%; overflow-x: hidden !important; padding-right: 20px;">
                        <%= render 'layouts/get_started' %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="https://rxcarriers.zendesk.com/hc/en-us" target="_blank">
                    <i class="fa fa-question-circle"></i> Go to help center
                </a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()"><i class="fa fa-thumbs-o-up"></i> Got it!</button>
          </div>
        </div>
      </div>
    </div>
<% end %>
<div class="requests-index-header">
    <div class="row" id="batchPageHeader">
        <div class="col-md-3">
            <span class="theme-blue font-18">Dashboard</span>&bull;
            <span class="font-14"><%= today %></span>
            <span class="medium-gray font-9 .firebase-id" id="firebaseID" firebase=""></span>
        </div>
        <div class="col-md-1 offset-md-8" style="padding: 0;">
            <a class="btn btn-primary transaction-buttons white" href="/dashboard">
                <i class="fa fa-refresh"></i> Refresh 
            </a>
        </div>
    </div>
    <div id="main" class="row add-padding-top" style="padding: 40px 0;">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="margin-bottom: 15px;">
                        <div class="card-body text-center" id="requestCountCard">
                            <div id="requestCountDetails"><span class="font-30 theme-blue semi-bold" id="deliveriesSentToday"><%= deliveries_today %></span>
                            <h6 class="font-13 medium-gray">deliveries sent today</h6></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="requestsToday">
                        <div class="float-left" style="width: 49%;">
                            <a href="/rx?type=new&request_type=refill&pharma_id=<%= current_pharmacy.id %>&sort_by=latest" class="background-transparent no-underline">
                                <div class="card">
                                    <div class="card-body text-center" id="requestCountCard">
                                        <div id="requestCountDetails"><span class="font-30 theme-blue semi-bold" id="refillsToday"><%= refills_today %></span>
                                        <h6 class="font-13 medium-gray">new refill requests</h6></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="float-right" style="width: 49%;">
                            <a href="/rx?type=new&request_type=delivery&pharma_id=<%= current_pharmacy.id %>&sort_by=latest" class="background-transparent no-underline">
                                <div class="card" style="margin-bottom: 15px;">
                                    <div class="card-body text-center" id="requestCountCard">
                                        <div id="requestCountDetails"><span class="font-30 theme-blue semi-bold" id="deliveryRequestsToday"><%= requests_today %></span>
                                        <h6 class="font-13 medium-gray">new delivery requests</h6></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="supervisingPharmacist">
                        <!--<div>-->
                        <!--    <h6 class="font-14 medium-gray">-->
                        <!--        Name of current supervisor-->
                        <!--        <i class="fa fa-question-circle cursor-pointer" data-toggle="tooltip" data-placement="top"-->
                        <!--            title="Supervising PharmD on duty"></i>-->
                        <!--    </h6>-->
                        <!--</div>-->
                        <div><h6 class="font-14 theme-blue" id="supervisorName"><%= current_pharmacy.supervisor || 'No pharmacy manager name provided' %></h6></div>
                        <div class="input-group-prepend" id="supervisorDetails">
                            <span class="input-group-text background-transparent theme-blue" id="onDutyMDAddon">
                                <i class="fa fa-user-md"></i>
                            </span>
                            <input class="form-control font-12 " id="supervisorSignature" name="pharmacist" placeholder="Pharmacy manager">
                            <button class="btn btn-success white" id="sendSupervisorName">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="batchCardContainer">
            <div class="card batch-list">
                <div id="scrollable">
                    <div id="scrollableChild">
                        <div class="table-header-batch container">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>Rx Number</span>
                                </div>
                                <div class="col-md-3">
                                    <span>Time of request</span>
                                </div>
                                <div class="col-md-2">
                                    <span>Request Type</span>
                                </div>
                            </div>
                        </div>
                        <div class="table-body container" id="liveRequestsUpdate">
                            <% if @requests.present? %>
                                <%= render 'all_requests' %>
                            <% else %>
                                <%= render 'no_requests' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    function firstTime() {
        var welcome_modal = document.getElementById('welcomeModal');
        if (welcome_modal == null || welcome_modal == undefined) {
            $('div.requests-index-header').css('opacity', '1');
        }
        $.get('/update_first_time');
    };
    
    firstTime();
    
    function setRequestInvalid(elem) {
        var id = elem.id;
        var status = document.getElementById(id).getAttribute('status');
        var type = document.getElementById(id).getAttribute('type');
        var id_ = id.split('-')[0];
        console.log(id_);
        $.get('/set_invalid_rx?status='+status+'&id='+id_+'&type='+type, e => {
            if (type == 'refill') {
                var refills = $('#refillsToday').text();
                $('#refillsToday').text(parseInt(refills) - 1);
            } else if (type == 'delivery') {
                var deliveries = $('#deliveryRequestsToday').text();
                $('#deliveryRequestsToday').text(parseInt(deliveries) - 1);
            }
        });
    };
    
    function closeModal() {
        $('#welcomeModal').remove();
        $('div.requests-index-header').css('opacity', '1');
    };
    
    function updateRxDob0(elem) {
        var rx = elem.id;
        var dob = document.getElementById('editRxField-'+rx).value;
        if (document.getElementById('editRxDeliveryInstructions-'+rx) != null) {
            var instructions = document.getElementById('editRxDeliveryInstructions-'+rx).value;
        }
        $('.updateRxBtn-'+rx).css('opacity', '0.6');
        $('.updateRxBtn-'+rx).html('Updating...');
        $('#updateRxDobModalBody-'+rx).html(`
            <div class="row">
                <div class="col-md-12 text-center">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-blue"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h6 class="font-14">Updating rx</h6>
                </div>
            </div>
        `);
        $.get('/update_rx_dob_pharmacy?dob='+dob+'&instructions='+instructions+'&rx='+rx, function(data) {
            $('#updateRxDobModalBody-'+rx).html(`
                <div class="row">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-check-circle theme-green font-40"></i>
                    </div>
                    <div class="col-md-12 text-center">
                        <h6 class="font-14">Rx details added!</h6>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-info transaction-buttons" id="`+rx+`"
                        onclick="clearRxUpdate(this)"><i class="fa fa-times-circle"></i> Clear</button>
                    </div>
                </div>
            `);
            $('.updateRxBtn-'+rx).css('opacity', '1');
            $('.updateRxBtn-'+rx).html('<i class="fa fa-check-circle"></i> Update');
        });
    };
    
    function clearRxUpdate(elem) {
        var rx = elem.id;
        $('#updateRxDobModalBody-'+rx).html(`
            <div class="row">
                <div class="col-md-12" style="padding-bottom: 10px;">
                    <h6 class="font-14 theme-blue">If the following rx exists, confirm the birth year (from your records)</h6>
                    <h6 class="font-14 theme-yellow text-center add-padding-top bold">Rx #<span id="rxSpan">`+rx+`</span></h6>
                </div>
                <div class="col-md-8 offset-md-2">
                    <input type="text" class="form-control font-14" id="editRxField-`+rx+`" placeholder="birth year (format: yyyy)">
                    <div class="add-padding-top"></div>
                </div>
            </div>
        `);
    };
    
    function loadRequestCount() {
        $('#requestCountDetails').hide();
        $('#requestCountLoader').show();
        $.get('/deliveries_today', function(data) {
            $('#requestCountLoader').hide();
            $('#requestNumber').html(data);
            $('#requestCountDetails').show();
        });
    };
    
    
    document.getElementById('sendSupervisorName').addEventListener('click', function() {
        var signatureName = document.getElementById('supervisorSignature');
        var value = signatureName.value;
        var id = <%= current_pharmacy.id %>
        
        $('#sendSupervisorName').html('<i class="fa fa-circle-o-notch white fa-spin fa-3x fa-fw" id="btnLoad"></i>');
        $.get('/update_supervisor?pharmacist='+value+'&pharmacy_id='+id.toString(), function(data) {
            signatureName.value = '';
        });
    });
  
</script>