<% if (@pharmacies.nil? && @pharmacy.nil?) || (@pharmacies.blank? && @pharmacy.blank?) %>
    <div class="text-center">
        <div>
            <i class="fa fa-exclamation-circle theme-yellow" style="font-size: 40px;"></i>
        </div>
        <div class="add-padding-top font-18">
            Not Found <br />
            <span class="font-14 theme-blue">
                No pharmacy was found by that name
            </span>
        </div>
    </div>
<% elsif @pharmacies %>
    <h6 class="font-16">Select your pharmacy</h6>
    <% @pharmacies.each do |pharma| %>
        <button class="btn btn-link font-16"
            id="<%= pharma.id %>" onclick="selectPharmacy(this)" style="padding: 5px 0px;">
            <%= pharma.name %> (<%= pharma.town %>, <%= pharma.state %>)
        </button>
    <% end %>
<% elsif @pharmacy %>
    <div class="col-md-12 add-padding-top-10"><h6 class="font-14">We've found the following pharmacy:</h6></div>
    <button class="btn btn-link font-14"
        id="<%= @pharmacy.id %>" onclick="selectPharmacy(this)">
        <%= @pharmacy.name %> (<%= @pharmacy.town %>, <%= @pharmacy.state %>)
    </button>
<% end %>