<style>
    .main-card {
        padding: 0 !important;
    }
    #rxSearch {
        margin-top: 0 !important;
        box-shadow: none !important;
    }
    .pd {
        padding-top: 10px !important;
    }
    
</style>
<div class="modal fade" id="couriersComingSoon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-16" id="exampleModalLabel">Coming soon to RxCarriers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-top: 30px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md-12 font-14 weighted" style="padding-bottom: 10px;">
                    The delivery driver request feature is not supported in this version,
                    but will be available with our next update in the coming weeks. In the meantime,
                    we will keep you updated on our development via email.
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="bulkMessages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title font-14" id="exampleModalLabel"><i class="fa fa-comments-o"></i> Send a bulk message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center" style="padding-top: 30px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md-12 font-14 theme-blue bold" style="padding-bottom: 15px;">
                    Select a communication method
                </div>
                <div class="col-md-4 offset-md-4 font-14 weighted" style="padding-bottom: 20px;">
                    <div class="btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary btn-block white" id="firstRadio" style="font-size: 12px !important;" onclick="showCheck(this)">
                        <input type="radio" name="options" id="text" autocomplete="off" checked> <i class="fa fa-comments-o"></i> <span class="method">Text</span>
                        <span style="display: none;" class="first"><i class="fa fa-check theme-green"></i></span>
                        <span style="display: none;" class="second"></span>
                      </label>
                      <label class="btn btn-secondary btn-block white" id="secondRadio" style="font-size: 12px !important;" onclick="showCheck(this)">
                        <input type="radio" name="options" id="call" autocomplete="off"> <i class="fa fa-mobile"></i> <span class="method">Call</span>
                        <span style="display: none;" class="first"><i class="fa fa-check theme-green"></i></span>
                        <span style="display: none;" class="second"></span>
                      </label>
                    </div>
                </div>
                <div class="col-md-12 font-14 weighted" style="padding-bottom: 15px;">
                    <span id="method" class="theme-blue bold">Message</span> all patients who:
                </div>
                <div class="col-md-10 offset-md-1 font-14 weighted" style="padding-bottom: 10px;">
                    <div class="btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary btn-block white" id="firstCheck" style="font-size: 12px !important;" onclick="showCheck(this)">
                        <input type="checkbox" name="options" id="unpickedMeds" autocomplete="off" checked> <i class="fa fa-hourglass-half"></i> Have prescriptions that have not been picked up 
                        <span style="display: none;" class="first"><i class="fa fa-check theme-green"></i></span>
                        <span style="display: none;" class="second">unpicked</span>
                      </label>
                      <label class="btn btn-secondary btn-block white" id="secondCheck" style="font-size: 12px !important;" onclick="showCheck(this)">
                        <input type="checkbox" name="options" id="rxIssue" autocomplete="off"> <i class="fa fa-exclamation-circle"></i> Have an rx issue (insurance, expiry, updates, etc) 
                        <span style="display: none;" class="first"><i class="fa fa-check theme-green"></i></span>
                        <span style="display: none;" class="second">issue</span>
                      </label>
                    </div>
                    <div id="patientChoice" style="display: none;"></div>
                </div>
            </div>
            <div id="loadingBulkMessages" class="add-padding-top" style="display: none;">
                <%= render 'common/bullet_spinner' %>
                <div class="row">
                    <div class="col-md-12 font-14">
                        Processing...this may take a while.<br/>
                        (Note: a voicemail will be left for patients who don't pick up)
                    </div>
                </div>
            </div>
            <div id="bulkMessagesSent" style="display: none;" class="row add-padding-top">
                <div class="col-md-12">
                    <i class="fa fa-check-circle theme-green" style="font-size: 40px;"></i>
                </div>
                <div class="col-md-12 font-14 add-padding-top">
                    All patients successfully contacted!
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary send-bulk" onclick="sendBulkMessages(this)"><i class="fa fa-paper-plane-o"></i> Submit</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addNewRxModal0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-16" id="exampleModalLabel"><i class="fa fa-plus-circle"></i> Add new rx</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="rxCheckError font-14 theme-red" style="display: none;"></div>
                <div style="display: none; padding-top: 40px; padding-bottom: 40px;" id="addRxLoader">
                    <%= render 'common/bullet_spinner' %>
                    <h6 class="font-14 text-center">Creating rx...</h6>
                </div>
                <div class="row" id="newRxForm">
                    <div class="col-md-3 field" id="patient-full-name-div">
                        <input type="text" class="form-control form--control font-14 pf" id="rx-number" onkeyup="checkRxExist(this)" name="rx-number" placeholder=" ">
                        <label for="rx-number">Rx number</label>
                        <div class="font-14 theme-red displayRxCheckError" style="display: none;">Already exists</div>
                    </div>
                    <div class="col-md-6 field">
                        <input type="text" class="form-control form--control font-14 pf" id="rx-phone" name="rx-phone" placeholder=" ">
                        <label for="rx-phone">Associated phone number</label>
                    </div>
                    <div class="col-md-3 field">
                        <input type="text" class="form-control form--control font-14 pf" id="rx-dob" name="rx-dob" placeholder=" ">
                        <label for="rx-dob">birth year</label>
                    </div>
                    <!--<div class="col-md-12 field">-->
                    <!--    <textarea type="text" class="form-control form--control font-14 pf" id="rx-instructions" name="rx-instructions" placeholder=""></textarea>-->
                    <!--    <label for="rx-instructions">Delivery instructions</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-12 field">-->
                    <!--    <textarea type="text" class="form-control form--control font-14 pf" id="patient-copay" name="patient-copay" placeholder=" "></textarea>-->
                    <!--    <label for="rx-instructions">Delivery instructions</label>-->
                    <!--</div>-->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-success transaction-buttons clear-rx-form" style="display: none;" onclick="clearForm()">Clear form</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary add-rx" onclick="addNewRx(this)"><i class="fa fa-check-circle"></i> Add rx</button>
            </div>
        </div>
    </div>
</div>
<div class="table-header container batches-row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #e1e1e2; background: #e1e1e2">
    <div class="row">
        <div class="col-md-1 pd">
            <span class="batches-details font-16 ">
                Rx
            </span>
        </div>
        <div class="col-md-2 pd">
            <span class="batches-details font-16 ">
                Status last updated
            </span>
        </div>
        <div class="col-md-1 pd">
            <span class="batches-details font-16 ">
                Status
            </span>
        </div>
        <div class="col-md-5 pd">
            <div class="row">
                <div class="col-md-4">
                    <span class="batches-details font-16 ">
                        Actions
                    </span>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-block white transaction-buttons" data-toggle="modal" data-target="#couriersComingSoon">
                        <i class="fa fa-exclamation-circle"></i> Drivers
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text background-transparent theme-blue" id="rxSearchAddon">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control font-14" placeholder="search rx" id="rxSearch" onkeyup="rxLiveSearch(this)">
            </div>
        </div>
    </div>
</div>
<div id="allRxes">
    <% if @rx %>
        <div class="table-content container batches-row rx-row-<%= @rx.rx %>" id="<%= @rx.id %>">
            <%= render 'single_rx' %>
        </div>
    <% elsif @rxes %>
        <% if @rxes.empty? %>
            <% if !@rxes_pharma %>
                <div class="col-md-12 text-center" style="padding-top: 20px; padding-bottom: 20px;">
                    <h6 class="font-16">No rx found for these parameters</h6>
                </div>
            <% else %>
                <div class="col-md-12 text-center" style="padding-top: 20px; padding-bottom: 20px;">
                    <button class="btn btn-info" data-toggle="modal" data-target="#addNewRxModal0">
                        <i class="fa fa-plus-circle"></i> Add an rx
                    </button>
                </div>
            <% end %>
        <% else %>
            <% @rxes.reverse.each do |rx| %>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal<%= rx.rx %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-mobile"></i> Send a text message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 30px;">
                                    <% if rx.phone_number.nil? %><h6 class="font-14 theme-red">No phone number provided for this rx</h6><% end %>
                                    <h6 class="font-14 theme-blue">Message preview (how your text will show up)</h6>
                                    <div class="font-14">
                                        <span style="color: #878787 !important;">From <%= current_pharmacy.name %>:</span> 
                                        <span id="messagePreview-<%= rx.rx %>" style="color: #b4b4b4 !important;"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea type="text" class="form-control font-14 messageText" id="messageText-<%= rx.rx %>" onkeyup="showPreview(this)" placeholder="Type text message"></textarea>
                                </div>
                                <div class="col-md-12 add-padding-top font-13">
                                    <b>IMPORTANT:</b> Always be sure that you are texting the correct number,
                                    and avoid using specific identifiers such as names or other Hipaa-protected
                                    personally identifiable information.
                                </div>
                            </div>
                      </div>
                      <div class="modal-footer">
                        <span class="badge badge-success" id="onMessageSent-<%= rx.rx %>" style="display: none;"></span>
                        <button type="button" class="btn btn-primary send-patient-message" id="<%= rx.rx %>" onclick="sendPatientMessage(this)"><i class="fa fa-paper-plane-o"></i> Send message</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="editRx<%= rx.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title font-14" id="exampleModalLabel"><i class="fa fa-pencil"></i> Edit rx Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="updateRxDobModalBody-<%= rx.rx %>">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 10px;">
                                    <h6 class="font-14 theme-yellow text-center add-padding-top bold">Rx #<span id="rxSpan"><%= rx.rx %></span></h6>
                                </div>
                                <div class="col-md-8 offset-md-2">
                                    <input type="text" class="form-control font-14 no-box-shadow" id="editRxField-<%= rx.rx %>" placeholder="birth year (format: yyyy)" value="<%= rx.dob if !rx.dob.nil? %>">
                                    <input type="text" class="form-control font-14 no-box-shadow" id="editRxPhone-<%= rx.rx %>" placeholder="phone number" value="<%= rx.phone_number if !rx.phone_number.nil? %>">
                                    <!--<input type="text" class="form-control font-14 no-box-shadow" id="editRxAddress-<%= rx.rx %>" placeholder="address" value="<%= rx.address if !rx.address.nil? %>">-->
                                    <!--<div class="add-padding-top"></div>-->
                                    <!--<textarea type="text" class="form-control border-radius font-14 height-40 no-box-shadow" style="height: 80px !important;" -->
                                    <!--    id="editRxDeliveryInstructions-<%= rx.rx %>" placeholder="Delivery instructions"><%= rx.delivery_instructions if !rx.delivery_instructions.nil? %></textarea>-->
                                </div>
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary transaction-buttons white updateRxBtn-<%= rx.rx %>" id="<%= rx.rx %>" onclick="updateRxDob(this)"><i class="fa fa-check-circle"></i> Update</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-content container batches-row rx-row-<%= rx.rx %>" id="<%= rx.id %>">
                    <div class="row">
                        <div class="col-md-1">
                            <span class="batches-details">
                                <span class="theme-blue background-transparent no-underline"><%= rx.rx %></span>
                            </span>
                        </div>
                        <div class="col-md-2">
                            <span class="batches-details weighted">
                                <span class="background-transparent no-underline"><%= to_mm_dd_yy(rx.last_filled_on) %></span>
                            </span>
                        </div>
                        <div class="col-md-1">
                            <span class="batches-details green">
                                <b id="rxStatus<%= rx.id %>"><span class="background-transparent no-underline <%= get_status_color(rx.current_status) %>"><%= rx.current_status %></span></b>
                            </span>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-info btn-block white transaction-buttons" id="sendPatientUpdate" data-toggle="modal" data-target="#exampleModal<%= rx.rx %>">
                                        <i class="fa fa-mobile"></i> Message Patient
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-secondary btn-block rx-dropdown transaction-buttons disabled" href="#" role="button" id="dropdownMenuLink">
                                      Get Driver
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <div class="dropdown show" style="padding-bottom: 0 !important;">
                                        <a class="btn btn-secondary btn-block dropdown-toggle rx-dropdown transaction-buttons" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Mark as
                                        </a>
                                      
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li class="dropdown-item">
                                                <button class="btn btn-link font-12 no-padding-left" id="<%= rx.id %>-picked" status="picked" onclick="updateRxStatus(this)">
                                                    Picked up
                                                </button>
                                            </li>
                                            <div class="dropdown-divider"></div>
                                            <li class="dropdown-item">
                                                <button class="btn btn-link font-12 no-padding-left" id="<%= rx.id %>-refilled" status="refilled" onclick="updateRxStatus(this)">
                                                    Refilled
                                                </button>
                                            </li>
                                            <div class="dropdown-divider"></div>
                                            <li class="dropdown-item">
                                                <button class="btn btn-link font-12 no-padding-left" id="<%= rx.id %>-inactive" status="inactive" onclick="updateRxStatus(this)">
                                                    Inactive
                                                </button>
                                            </li>
                                            <div class="dropdown-divider"></div>
                                            <li class="dropdown-item">
                                                <button class="btn btn-link font-12 no-padding-left" id="<%= rx.id %>-sent" status="deliverySent" onclick="updateRxStatus(this)">
                                                    Sent for delivery
                                                </button>
                                            </li>
                                            <div class="dropdown-divider"></div>
                                            <li class="dropdown-item">
                                                <button class="btn btn-link font-12 no-padding-left" id="<%= rx.id %>-hold" status="on hold" onclick="updateRxStatus(this)">
                                                    On hold
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-5 no-horizontal-padding">
                                            <button class="btn btn-secondary btn-block white transaction-buttons" id="editRx" data-toggle="modal" data-target="#editRx<%= rx.id %>">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-5 offset-md-1 no-horizontal-padding">
                                            <button class="btn btn-warning btn-block transaction-buttons white deleteRxBtn-<%= rx.rx %>" id="<%= rx.rx %>" onclick="deleteRx(this)">
                                                <i class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" id="newDeliveryRequest<%= rx.id %>">
                            <% if rx.delivery_requested %>
                                <span class="badge badge-success verified-alert-badge">
                                    Delivery request: <%= rx.get_delivery_details.delivery_time %>
                                </span>
                            <% elsif rx.details_missing %>
                                <span class="badge badge-warning badge-warning-<%= rx.rx %>">
                                    Details missing
                                </span>
                            <% end %>
                        </div>
                        <div class="col-md-1" id="newRefillRequest<%= rx.id %>">
                            <% if rx.refill_requested %>
                                <span class="badge badge-warning verified-alert-badge">
                                    <i class="fa fa-refresh"></i> Refill
                                </span>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>
<div id="mybutton">
    <div>
        <button class="btn btn-primary bulkMessages" data-toggle="modal" data-target="#bulkMessages">
            <i class="fa fa-comments-o font-20"></i>
        </button>
    </div>
    <div class="add-padding-top"><button class="btn btn-secondary addAnRx" data-toggle="modal" data-target="#addNewRxModal0"><i class="fa fa-plus font-20"></i></button></div>
</div>

<script>
    
    function checkRxExist(elem) {
        var rx = elem.value;
        $.get('/check_rx_exist?rx='+rx, function() {
            // Do something here later
        });
    };
    
    function updateRxStatus(elem) {
        var id = elem.id;
        var status = document.getElementById(id).getAttribute('status');
        var id_ = id.split('-')[0];
        console.log(id_);
        $.get('/update_rx_status?status='+status+'&id='+id_, function(data) {
            $('#'+id_).html(data);
        });
    };
    
    function rxLiveSearch(elem) {
        var search = document.getElementById("rxSearch").value;
        $.get('/rx_search?search='+search, function(html) {
            $("#allRxes").html(html);
        });
    };
    
    function showPreview(elem) {
        var id = elem.id.split('-')[1];
        console.log(id);
        var value = document.getElementById('messageText-'+id).value;
        $('#messagePreview-'+id).html(value);
    };
    
    function showPreview0(elem) {
        var value = document.getElementById('messageText0').value;
        $('#messagePreview0').html(value);
    };
    
    function addNewRx(elem) {
        var rx = document.getElementById('rx-number').value;
        var modal = document.getElementById('addNewRxModal0');
        var dob = document.getElementById('rx-dob').value;
        var phone = document.getElementById('rx-phone').value;
        // var address = document.getElementById('rx-address').value;
        var body = document.getElementsByTagName("BODY")[0];
        var nav = document.getElementsByTagName("NAV")[0];
        $('#newRxForm').hide();
        $('#addRxLoader').show();
        $('.add-rx').html('Creating rx...');
        console.log('stuff');
        $.get('/add_new_rx?rx='+rx+'&dob='+dob+'&phone='+phone, function(data) {
            // window.location.replace('/rx');
            body.removeAttribute('data-gr-c-s-loaded');
            body.removeAttribute('modal-open');
            body.removeAttribute('style');
            body.removeAttribute('class');
            nav.removeAttribute('style');
            $('.modal-backdrop').remove();
            $('#allRxes').html(data);
            $('.rx-row-'+rx).css('background-color', '#f6f6f6');
            $('.new-delivery-request'+rx).html(`
                <span class="badge badge-warning unverified-alert-badge" id="`+rx+`" onmouseover="clearNew(this)">
                    new
                </span>
            `);
            $('.add-rx').html('<i class="fa fa-check-circle"></i> Add rx');
            $('#addRxLoader').hide();
            $('.clear-rx-form').show();
        });
    };
    
    function addNewRx0(elem) {
        var rx = document.getElementById('rx-number0').value;
        var modal = document.getElementById('addNewRxModal');
        var dob = document.getElementById('rx-dob0').value;
        var phone = document.getElementById('rx-phone0').value;
        // var address = document.getElementById('rx-address0').value;
        var body = document.getElementsByTagName("BODY")[0];
        var nav = document.getElementsByTagName("NAV")[0];
        $('#newRxForm0').hide();
        $('#addRxLoader0').show();
        $('.add-rx0').html('Creating rx...');
        console.log('stuff');
        $.get('/add_new_rx?rx='+rx+'&dob='+dob+'&phone='+phone, function(data) {
            // window.location.replace('/rx');
            body.removeAttribute('data-gr-c-s-loaded');
            body.removeAttribute('modal-open');
            body.removeAttribute('style');
            body.removeAttribute('class');
            nav.removeAttribute('style');
            $('.modal-backdrop').remove();
            $('#allRxes').html(data);
            $('.rx-row-'+rx).css('background-color', '#f6f6f6');
            $('.new-delivery-request'+rx).html(`
                <span class="badge badge-warning unverified-alert-badge" id="`+rx+`" onmouseover="clearNew(this)">
                    new
                </span>
            `);
            $('.add-rx0').html('<i class="fa fa-check-circle"></i> Add rx');
            $('#addRxLoader0').hide();
            $('.clear-rx-form0').show();
        });
    };
    
    function sendPatientMessage(elem) {
        var rx = elem.id;
        var message = document.getElementById('messageText-'+rx).value;
        elem.classList.add('disabled');
        $('.send-patient-message').html(`
            <div class="row">
                <div class="col-md-12 text-center font-14">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw white" style="font-size: 14px !important;"></i> Sending message...
                </div>
            </div>
        `);
        $.get('/send_patient_message?rx='+rx+'&message='+message, e => {
            document.getElementById('messageText-'+rx).value = '';
            $('#messagePreview-'+rx).html('');
            $('.send-patient-message').html('<i class="fa fa-paper-plane-o"></i> Send message');
            elem.classList.remove('disabled');
            $('#onMessageSent-'+rx).html('Message successfully sent!')
            .fadeIn(1000, function() {
                $(this).fadeOut(5000);
            });
        })
        .catch(function(err) {
            $('#onMessageSent-'+rx).html('Message could not be sent')
        });
    };
    
    function clearNew(elem) {
        var rx = elem.id;
        $('.badge-warning').fadeOut();
        $('.rx-row-'+rx).css('background-color', '#fff');
    };
    
    function deleteRx(elem) {
        var rx = elem.id;
        $.get('/delete_rx?rx='+rx);
    };
    
    function showCheck(elem) {
        var id = elem.id;
        var element = document.getElementById(id);
        var count_1 = 0;
        var count_2 = 0;
        
        if (id.includes('Radio')) {
            var method = $('#'+id).children("span.method").text();
            $('#method').html(method);
        }
        
        if (id == 'firstRadio') {
            document.getElementById('secondRadio').classList.remove('active');
            $('#secondRadio').children("span.first").hide();
        } else if (id == 'secondRadio') {
            document.getElementById('firstRadio').classList.remove('active');
            $('#firstRadio').children("span.first").hide();
        }
        
        if (!element.classList.contains('active')) {
            $('#'+id).children("span.first").show();
            var choice = $('#'+id).children("span.second").text();
            $('#patientChoice').append(choice);
        } else {
            $('#'+id).children("span.first").hide();
        }
        
        if (id == 'firstCheck') {
            count_1 += 1;
            
            if (count_1 % 2 == 0) {
                document.getElementById('firstCheck').classList.remove('active');
            }
        } else if (id == 'secondCheck') {
            count_2 += 1;
            
            if (count_2 % 2 == 0) {
                document.getElementById('secondCheck').classList.remove('active');
            }
        }
    };
    
    function sendBulkMessages(elem) {
        var route;
        elem.classList.add('disabled');
        $('.send-bulk').html('Processing...');
        var choice = $('#patientChoice').text();
        $('#loadingBulkMessages').show();
        var method = $('#method').text();
        method = method.toLowerCase();
        if (method == 'call') {
            route = '/bulk_calling'
        } else {
            route = '/bulk_texting'
        }
        if (choice.includes('unpicked') && choice.includes('issue')) {
            $.get(route+'?choice1=unpicked&choice2=issue', function() {
                elem.classList.remove('disabled');
                $('.send-bulk').html('<i class="fa fa-plane-o"></i> Submit');
                $('#loadingBulkMessages').hide();
                $('#bulkMessagesSent').fadeIn(1000, function() {
                    $(this).fadeOut(4000);
                });
                $('#patientChoice').text('');
            });
        } else {
            if (choice.includes('unpicked')) {
                $.get(route+'?choice1=unpicked&choice2=', function() {
                    elem.classList.remove('disabled');
                    $('.send-bulk').html('<i class="fa fa-paper-plane-o"></i> Submit');
                    $('#loadingBulkMessages').hide();
                    $('#bulkMessagesSent').fadeIn(1000, function() {
                        $(this).fadeOut(4000);
                    });
                    $('#patientChoice').text('');
                });
            } else {
                $.get(route+'?choice1=&choice2=issue', function() {
                    elem.classList.remove('disabled');
                    $('.send-bulk').html('<i class="fa fa-paper-plane-o"></i> Submit');
                    $('#loadingBulkMessages').hide();
                    $('#bulkMessagesSent').fadeIn(1000, function() {
                        $(this).fadeOut(4000);
                    });
                    $('#patientChoice').text('');
                });
            }
        }
    };
    
    function clearForm() {
        document.getElementById('rx-number').value = "";
        document.getElementById('rx-dob').value = "";
        document.getElementById('rx-phone').value = "";
        // document.getElementById('rx-address').value = "";
        $('.clear-rx-form').hide();
        $('#newRxForm').show();
    };
    
    function updateRxDob(elem) {
        var rx = elem.id;
        var dob = document.getElementById('editRxField-'+rx).value;
        var phone = document.getElementById('editRxPhone-'+rx).value;
        // var address = document.getElementById('editRxAddress-'+rx).value;
        // var instructions = document.getElementById('editRxDeliveryInstructions-'+rx).value;
        $('.updateRxBtn-'+rx).css('opacity', '0.6');
        $('.updateRxBtn-'+rx).html('Updating...');
        $('#updateRxDobModalBody-'+rx).html(`
            <div class="row">
                <div class="col-md-12 text-center">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-blue"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h6 class="font-14">Updating rx</h6>
                </div>
            </div>
        `);
        $.get('/update_rx_dob?dob='+dob+'&rx='+rx+'&phone='+phone, function(data) {
            $('#updateRxDobModalBody-'+rx).html(`
                <div class="row">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-check-circle theme-green font-40"></i>
                    </div>
                    <div class="col-md-12 text-center">
                        <h6 class="font-14">Rx details added!</h6>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-info transaction-buttons" id="`+rx+`"
                        onclick="clearRxUpdate(this)"><i class="fa fa-times-circle"></i> Clear</button>
                    </div>
                </div>
            `);
            $('.updateRxBtn-'+rx).css('opacity', '1');
            $('.updateRxBtn-'+rx).html('<i class="fa fa-check-circle"></i> Update');
            $('span.badge-warning-'+rx).fadeOut();
        });
    };
    
    function clearRxUpdate(elem) {
        var rx = elem.id;
        $('#updateRxDobModalBody-'+rx).html(`
            <div class="row">
                <div class="col-md-12" style="padding-bottom: 10px;">
                    <h6 class="font-14 theme-yellow text-center add-padding-top bold">Rx #<span id="rxSpan">`+rx+`</span></h6>
                </div>
                <div class="col-md-8 offset-md-2">
                    <input type="text" class="form-control font-14" id="editRxField-`+rx+`" placeholder="birth year (format: yyyy)">
                    <input type="text" class="form-control font-14" id="editRxPhone-`+rx+`" placeholder="phone number">
                </div>
            </div>
        `);
    };
</script>