<% if @requests.desc_date.present? %>
    <% @requests.desc_date.each do |req| %>
        <div class="row">
            <div class="col-md-12 request-card-div">
                <a class="background-transparent no-underline" href="/requests/<%= req.id %>">
                    <div class="card request-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">Batch ID: <span class="request-details"><strong><%= find_batch_id(req) %></strong></span></div>
                                <div class="col-md-4">Sent: <span class="request-details"><strong><%= timestamp(req) %></strong></span></div>
                                <div class="col-md-2">Status: <span class="request-details <%= status_color(req.status) %>"><strong><%= prettify_nil(req.status) %></strong></span></div>
                                <div class="col-md-3">Driver: <span class="request-details"><strong><%= req.driver.nil? ? 'none yet' : find_driver(req.driver).first_and_initial %></strong></span></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    <% end %>
<% else %>
    <%= render "not_found" %>
<% end %>