<style>
    hr {
        background: #fff !important;
        border-color: #fff;
    }
</style>
<body>
    <div class="request-show">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="">Request ID: <%= @request.id %></h4>
                    </div>
                </div>
                <div class="row request-details-row">
                    <div class="col-md-3">
                        <h6 class="request-details">Status</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="request-details"><span class="<%= status_color(@request.status) %>"><%= @request.status %></span></h6>
                    </div>
                    <div class="col-md-9">
                        <hr style="margin-top: 5px !important; margin-bottom: 5px !important;">
                    </div>
                </div>
                <div class="row request-details-row">
                    <div class="col-md-3">
                        <h6 class="request-details">Driver</h6>
                    </div>
                    <div class="col-md-4">
                        <%= render 'driver' %>
                    </div>
                    <div class="col-md-4 request-driver-avi-div">
                        <%= render driver_avatar(driver) if driver %>
                    </div>
                    <div class="col-md-9">
                        <hr style="margin-top: 5px !important; margin-bottom: 5px !important;">
                    </div>
                </div>
                <div class="row request-details-row">
                    <div class="col-md-3">
                        <h6 class="request-details">Batch</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="request-details"><%= @request.batch_id %></h6>
                    </div>
                    <div class="col-md-9">
                        <hr style="margin-top: 5px !important; margin-bottom: 5px !important;">
                    </div>
                </div>
                <div class="row request-details-row">
                    <div class="col-md-3">
                        <h6 class="request-details">Text</h6>
                    </div>
                    <div class="col-md-9">
                        <h6 class="request-details"><%= @request.body %></h6>
                    </div>
                    <div class="col-md-9">
                        <hr style="margin-top: 5px !important; margin-bottom: 5px !important;">
                    </div>
                </div>
                <div class="row request-details-row">
                    <div class="col-md-3">
                        <h6 class="request-details">Sent</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="request-details"><%= timestamp(@request) %></h6>
                    </div>
                    <div class="col-md-9">
                        <hr style="margin-top: 5px !important; margin-bottom: 5px !important;">
                    </div>
                </div>
                <div class="row request-details-row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-3">
                        <h6 class="request-details">
                            <%= link_to requests_path, class:"btn btn-light btn-lg white" do %>
                                <i class="fa fa-long-arrow-left"></i> Back to requests
                            <% end %>
                        </h6>
                    </div>
                    <div class="col-md-3">
                        <h6 class="request-details"><%= link_to 'Cancel Request', cancel_request_path(:id => @request.id), class:"btn btn-danger btn-lg white" %></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>