<section style="border: 1px solid #b4b4b4; font-family: 'Roboto', sans-serif;">
    <div id="emailHeader" style="padding: 2px; background-image: url('/images/gradient_background.jpg'); background-size: cover; margin-bottom: 20px;">
        <h1 style="color: #fff; text-align: center; font-family: 'Roboto', sans-serif;">
            RxCarriers
        </h1>
    </div>
    <div class="container" style="padding-left: 15px; padding-right: 15px;">
        <div class="card" style="padding: 20px; background-color: #f0f0f0; text-align: center; border-radius: 3px;">
            <h3 align="center" style="color: #5a5a5a; margin-bottom: 45px;">Estimated
                <% if @order.delivery_option == 'delivery' %>
                    delivery:
                <% else %>
                    pickup:
                <% end %>
                <span style="margin-left: 5px;"><%= @order.estimated_completion %></span>
            </h3>
            <a style="border: 1px solid #007bff; padding: 10px 20px; border-radius: 3px; background-color: #007bff; color: #fff; text-decoration: none;" href="https://rxcarriers.com" target="_blank">
                Track Your Order
            </a>
            <h5 align="center" style="color: #5a5a5a; margin-top: 30px;">Order # <%= @order.confirmation %></h5>
        </div>
        <div class="card" style="background-color: #f0f0f0; margin-top: 30px; border-radius: 3px;">
            <div class="card-header" style="padding: 5px 0 0 20px; border-bottom: 1px solid #b4b4b4;">
                <h3 style="color: #5a5a5a;">Order Details</h3>
            </div>
            <div class="card-body" style="padding: 5px 0 5px 20px;">
                <h4 style="margin-top: 10px; color: #363636;"><%= @order.pharmacy.name %></h4>
                <h5 style="color: #5a5a5a;"><%= @order.pharmacy.full_address %></h5>
            </div>
        </div>
        <div class="card" style="margin-top: 20px; border-radius: 3px;">
            <div class="card-body" style="padding: 5px 20px 10px 20px;">
                <% @order.cart.item_list_array.each_with_index do |i, idx| %>
                    <div id="orderItem<%= i %>" style="border-bottom: 1px dotted #b4b4b4;">
                        <h4 style="margin-top: 10px;">
                            <span style="margin-right: 5px; color: #05f005; float: left;">
                                <%= @order.cart.item_list_count_array[idx] %>
                            </span>
                            <span><%= @order.get_item(i).shorten_name %></span>
                            <span style="margin-right: 0; float: right;">$<%= @order.order_cost(idx, i) %></span>
                        </h4>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="card" style="background-color: #f0f0f0; margin-top: 20px; border-radius: 3px;">
            <div class="card-body" style="padding: 5px 20px 10px 20px;">
                <h5 style="margin-top: 10px; color: #363636;">
                    <span style="float: left;">
                        <strong>Subtotal</strong>:
                    </span>
                    <span style="float: right; color: #5a5a5a;">
                        $<%= @order.cart.total_cost %>
                    </span><br />
                    <span style="float: left;">
                        <strong>Tax</strong>:
                    </span>
                    <span style="float: right; color: #5a5a5a;">
                        $<%= @order.cart.calculate_tax %>
                    </span><br />
                    <span style="float: left;">
                        <strong>Tip</strong>:
                    </span>
                    <span style="float: right; color: #5a5a5a;">
                        $<%= @order.cart.tip_amount %>
                    </span><br />
                    <span style="float: left; font-size: 20px;">
                        <strong>Total</strong>:
                    </span>
                    <span style="float: right; font-size: 20px;">
                        $<%= @order.cart.final_amount %>
                    </span>
                </h5>
            </div>
        </div>
        <div class="card" style="background-color: #f0f0f0; margin-top: 20px; border-radius: 3px;">
            <div class="card-body" style="padding: 5px 20px 20px 20px;">
                <h5 style="margin-top: 10px; color: #363636;">
                    <span style="float: left;">
                        <strong>Method</strong>:
                    </span>
                    <span style="float: right; color: #5a5a5a;">
                        Credit Card
                    </span><br />
                    <span style="float: left;">
                        <strong>Order</strong>:
                    </span>
                    <span style="float: right; color: #5a5a5a;">
                        <%= @order.confirmation %>
                    </span><br />
                    <span style="float: left;">
                        <strong>Order Date</strong>:
                    </span>
                    <span style="float: right; color: #5a5a5a;">
                        <%= @order.cart.order.ordered_at.strftime('%m/%d/%y %l:%M %p') %>
                    </span><br />
                    <span style="float: left;">
                        <strong>
                            <% if @order.delivery_option == 'delivery' %>
                                Deliver to:
                            <% else %>
                                Contact details:
                            <% end %>
                        </strong>
                    </span>
                    <span style="float: left; color: #5a5a5a;">
                        <%= @order.destination %>
                    </span>
                </h5>
            </div>
        </div>
        <div class="card" style="background-color: #f0f0f0; margin-top: 20px; margin-bottom: 20px; border-radius: 3px;">
            <div class="card-body" style="padding: 5px 20px 10px 20px;">
                <h4 style="margin-top: 10px; color: #363636; text-align: center;">
                    <strong>Have questions about your order?</strong>
                </h4>
                <h5 style="margin: 10px 0 30px 0; color: #363636; text-align: center;">
                    <span style="margin-bottom: 30px; text-align: center;">
                        Call the pharmacy for delivery issues<br /><br />
                        <a style="border: 1px solid #007bff; padding: 10px 20px; border-radius: 3px; background-color: transparent; color: #007bff; text-decoration: none;" href="tel:+1<%= @order.pharmacy.number %>" target="_blank">
                            <%= @order.pharmacy.number %>
                        </a><br />
                    </span>
                </h5>
                <h5 style="margin: 10px 0 20px 0; color: #363636; text-align: center;">
                    <span style="text-align: center;">
                        For billing issues<br /><br />
                        <a style="border: 1px solid #007bff; padding: 10px 20px; border-radius: 3px; background-color: transparent; color: #007bff; text-decoration: none;" href="https://rxcarriers.com/contact-us" target="_blank">
                            Contact us
                        </a>
                    </span>
                </h5>
            </div>
        </div>
    </div>
    <div id="emailFooter" style="padding: 2px; background-image: url('/images/gradient_background.jpg'); background-size: cover;">
        <h6 style="color: #fff; text-align: center; font-family: 'Roboto', sans-serif; -webkit-margin-before: 15px; -webkit-margin-after: 5px;">
            &copy; RxCarriers. All rights reserved
        </h6>
        <h6 style="color: #fff; text-align: center; font-family: 'Roboto', sans-serif; -webkit-margin-before: 0; -webkit-margin-after: 15px;">
            Sent with love, by the RxCarriers team
        </h6>
    </div>
</section>