<% @patient.deliveries.reverse.each do |b| %>
    <div id="delivery<%= b.id %>" class="table-content delivery-content" address="<%= b.recipient_address %>" phone="<%= b.recipient_phone_number %>" name="<%= b.id %>">
        <div class="row">
            <div class="col-md-3">
                <span><%= b.medications %></span>
            </div>
            <div class="col-md-2">
                <span><%= to_mm_dd_yy(b.request_sent_on) %></span>
            </div>
            <div class="col-md-2">
                <%= find_courier(b.driver_id) %>
            </div>
            <div class="col-md-1">
                <%= b.copay %>
            </div>
            <div class="col-md-2" style="padding-top: 0; padding-bottom: 0;">
                <a class="background-transparent no-underline" href="<%= b.signature_image %>" target="_blank">
                    <% if b.signature_image %><img src="<%= b.has_signature? %>" style="height: 40px; width: 100%;"><% end %>
                </a>
            </div>
            <div class="col-md-2">
                <%= to_mm_dd_yy(b.signed_on) %>
            </div>
        </div>
    </div>
<% end %>