<% if asc_name.present? %>
    <% asc_name.each do |patient| %>
        <a type="button" class="list-group-item list-group-item-action no-border-radius border-gray" href="patients/<%= patient.id %>">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="font-14"><%= patient.name %></h5>
                </div>
                <div class="col-md-4">
                    <h5 class="font-14"><%= patient.address %></h5>
                </div>
                <div class="col-md-2">
                    <h5 class="font-14"><%= patient.dob %></h5>
                </div>
                <div class="col-md-2">
                    <h5 class="font-14"><%= patient.phone %></h5>
                </div>
            </div>
        </a>
    <% end %>
<% else %>
    <%= render 'not_found' %>
<% end %>