<%= form_for (@patient), id:"new_comment" do |f| %>
    <% if @patient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
    
          <ul>
          <% @patient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-12 form-header"><h5 class="font-14"><strong>Basic Info</strong></h5></div>
        <div class="field col-md-6">
            <%= f.text_area :name, class:"form-control patient-notes-field", autofocus: true, placeholder:"Patient Name" %>
        </div>
        <div class="field col-md-6">
            <%= f.text_area :phone, class:"form-control patient-notes-field", autofocus: true, placeholder:"Patient Contact Number" %>
        </div>
        <div class="field col-md-12">
            <%= f.text_area :address, class:"form-control patient-notes-field", autofocus: true, placeholder:"Patient Delivery Address (including apt#)" %>
        </div>
        <div class="field col-md-12">
            <%= f.text_area :delivery_instructions, class:"form-control patient-instructions-field", autofocus: true, placeholder:"Special Delivery Instructions" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h5 class="font-14"><strong>Payment Info</strong></h5></div>
    </div>
    <div class="row">
        <div class="field col-md-6">
            <%= f.text_field :card_number, class:"form-control", autofocus: true, placeholder:"Debit or Credit Card Number" %>
        </div>
        <div class="field col-md-2">
            <%= f.text_field :exp_month, class:"form-control", autofocus: true, placeholder:"Exp Month" %>
        </div>
        <div class="field col-md-2">
            <%= f.text_field :exp_year, class:"form-control", autofocus: true, placeholder:"Exp Year" %>
        </div>
        <div class="field col-md-2">
            <%= f.text_field :cvc, class:"form-control", autofocus: true, placeholder:"Sec Code" %>
        </div>
    </div>
    <div class="actions text-right">
        <%= f.submit "Register Patient", class:"btn btn-light btn-lg new-patient-button cursor-pointer" %>
    </div>
<% end %>
