<% if @deliveries %>
    <% @deliveries.reverse.each do |del| %>
        <% del.medications.split(", ").each do |med| %>
            <div class="list-group-item list-group-item-action no-border-radius border-gray">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="font-14"><%= med %></h5>
                    </div>
                    <div class="col-md-1">
                        <h5 class="font-14"><%= del.deliverable_id %></h5>
                    </div>
                    <div class="col-md-1">
                        <h5 class="font-14"><%= del.copay %></h5>
                    </div>
                    <div class="col-md-3">
                        <h5 class="font-14"><%= timestamp(del) %></h5>
                    </div>
                    <div class="col-md-3">
                        <h5 class="font-14"><%= del.find_driver(del.deliverable.id) %></h5>
                    </div>
                    <div class="col-md-1">
                        <h5 class="font-14"><%= del.signed? %></h5>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
<% else %>
    <div class="list-group-item list-group-item-action no-border-radius border-gray">
        <h5 class="text-center">This patient has not yet had a delivery</h5>
    </div>
<% end %>