<body>
    <div class="all-patients">
        <!-- Patient/Prescription Form -->
        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'patients/form' %>
              </div>
            </div>
          </div>
        </div>
        <header class="col-md-12 patients-list-header">
            <div class="row requests-index-header">
                <div class="col-md-6">
                    <div class="row requests-actions request-search-border">
                        <div class="col-md-1 search-icon-div text-center">
                            <span class="request-search-addon"><i class="fa fa-search req-search-icon"></i></span>
                        </div>
                        <div class="col-md-11">
                            <form class="request-search-form">
                                <%= form_tag patient_search_path,  remote: true, method: :get, id: '' do %>
                                    <%= text_field_tag :search, params[:search], class:'form-control request-search', placeholder: patient_placeholder_text do %>
                                    <% end %>
                                <% end %>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog white"></i> Filter
                        </button>
                        <div class="dropdown-menu">
                            <%= render 'dropdown' %>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary padding-14 cursor-pointer" data-toggle="modal" data-target=".bd-example-modal-lg">
                        <span class="font-14"><i class="fa fa-plus"></i> Add new patient</span>
                    </button>
                </div>
            </div>
        </header>
        <section class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <button type="button" class="list-group-item patient-table-header">
                        <div class="row">
                            <div class="col-md-3 text-left">
                                <h5 class="font-14">Name</h5>
                            </div>
                            <div class="col-md-4 text-left">
                                <h5 class="font-14">Address</h5>
                            </div>
                            <div class="col-md-2 text-left">
                                <h5 class="font-14">DOB</h5>
                            </div>
                            <div class="col-md-2 text-left">
                                <h5 class="font-14">Phone</h5>
                            </div>
                        </div>
                    </button>
                    <% if params[:search] %>
                        <%= render 'patients' %>
                    <% else %>
                        <%= render patient_sort %>
                    <% end %>
                </div>
            </div>
        </section>
    </div>
</body>