<style>
    .stripe-form {
        padding-top: 0;
    }
    .main-page-card {
        background: transparent;
        border: none !important;
        box-shadow: none;
    }
    .main-card {
        padding: 0;
    }
    #patientCardForm, #createPatientLoader, #updateConfirmation {
        display: none;
    }
</style>
<div class="patient-show">
    <div class="modal fade batch-modal" id="updatePatientDetails" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title medium-gray font-14" id="exampleModalLabel">Update Customer Details</h5>
                <a class="background-transparent no-underline close" href="#" data-dismiss="modal" aria-label="Close" id="resetForm">
                   <i class="fa fa-times-circle-o"></i>
                </a>
            </div>
            <div class="modal-body" id="batch_update_modal">
                <div id="updateConfirmation" class="text-center">
                    <i class="fa fa-check-circlwe"></i><br />
                    <h6 class="font-14 medium-gray text-center">Info Updated</h6>
                </div>
                <%= render 'patients/update_patient_form' %>
                <div id="createPatientLoader" class="text-center">
                    <i class="fa fa-circle-o-notch theme-blue fa-spin fa-3x fa-fw"></i><br />
                    <h6 class="font-14 medium-gray text-center">Updating Info...</h6>
                </div>
            </div>
        </div>
      </div>
    </div>
    <section class="patient-profile-header">
        <div class="card patientCard">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h5 id="patient_name"><%= @patient.name %></h5>
                    </div>
                    <div class="col-md-2 offset-md-7">
                        <a class="transaction-buttons btn btn-secondary btn-block white" href="/customers">
                            <i class="fa fa-long-arrow-left"></i> Return to customers
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted background-transparent">
                <h6 class="font-13"><i class="fa fa-user"></i> Customer was added</h6>
                <h6 class="medium-gray font-13"><%= timestamp(@patient) %></h6>
            </div>
        </div>
    </section>
    <section class="patient-prescriptions">
        <div class="card patientCard">
            <div class="card-header font-16 weighted background-transparent">
                <div class="row">
                    <div class="col-md-1">
                        Details
                    </div>
                    <div class="col-md-1 offset-md-10">
                        <button type="button" class="btn btn-secondary btn-block transaction-buttons" id="updateDetails" data-toggle="modal" data-target="#updatePatientDetails">
                            <i class="fa fa-pencil-square-o"></i> Edit
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body medium-gray">
                <h6 class="font-14">
                    <span class="weighted">Address</span><br />
                    <span id="patient_address"><%= @patient.address %></span>
                </h6>
                <h6 class="font-14 details-heading">
                    <span class="weighted">Phone</span><br />
                    <span id="patient_phone"><%= @patient.phone %></span>
                </h6>
                <h6 class="font-14 details-heading">
                    <span class="weighted">Delivery Instructions</span><br />
                    <span id="patient_delivery_instructions"><%= @patient.delivery_instructions %></span>
                </h6>
            </div>
        </div>
    </section>
    <section class="patient-card-info patient-prescriptions">
        <div class="card patientCard">
            <div class="card-header font-16 weighted background-transparent">
                <div class="row">
                    <div class="col-md-2">
                        Credit Card
                    </div>
                    <div class="col-md-2 offset-md-8">
                        <button type="button" class="btn btn-secondary btn-block transaction-buttons" id="updateCard">
                            <i class="fa fa-pencil-square-o"></i> Update Card
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body medium-gray">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center" id="creditCardContainer">
                        <div id="patientCardStatus">
                            <% if current_patient.stripe_cus.nil? %>
                                <h6 class="font-14 text-center">No card on file</h6>
                            <% else %>
                                <h6 class="font-14 text-center">Credit card saved on file</h6>
                            <% end %>
                        </div>
                        <div id="patientCardForm">
                            <form action="/customer/<%= params[:id] %>/update_card" method="get" id="payment-form" class="stripe-form">
                                <div class="form-row row form-input-row">
                                    <div id="card-element" class="col-md-12">
                                      <!-- a Stripe Element will be inserted here. -->
                                    </div>
                                    
                                    <!-- Used to display form errors -->
                                    <div id="card-errors" role="alert" class="col-md-12"></div>
                                </div>
                                
                                <div class="row form-submit-row">
                                    <div class="col-md-12 submit-card">
                                        <button class="btn btn-primary transaction-buttons"><i class="fa fa-check-circle"></i> Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="allDeliveries" class="patient-prescriptions row">
        <div class="col-md-12">
            <div class="card patient-list patientCard">
                <div class="card-header weighted font-16 background-transparent">
                    <div class="row">
                        <div class="col-md-3">
                            Deliveries
                        </div>
                    </div>
                </div>
                <div id="scrollParent" style="position: relative; height: 270px !important;">
                    <div id="scrollPatientsCard">
                        <div id="scrollPatientsCardChild">
                            <div class="table-header-patients">
                                <div class="row">
                                    <div class="col-md-3">
                                        Medications
                                    </div>
                                    <div class="col-md-3">
                                        Delivery Date
                                    </div>
                                    <div class="col-md-3">
                                        Courier
                                    </div>
                                    <div class="col-md-1">
                                        Copay
                                    </div>
                                    <div class="col-md-2">
                                        Confirmed
                                    </div>
                                </div>
                            </div>
                            <div id="patientsList" class="card-padding">
                                <%= render 'all_deliveries' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    // Create a Stripe client
    var stripe = Stripe('pk_test_r46MnQQ9cxjMadPDwXrxHRgm');
    
    // Create an instance of Elements
    var elements = stripe.elements();
    
    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };
    
    // Create an instance of the card Element
    var card = elements.create('card', {style: style});
    
    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');
    
    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
    
    // Handle form submission //
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the user if there was an error
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
                $('#patientCardForm').hide();
                $('#creditCardContainer').append('<i class="fa fa-circle-o-notch theme-blue fa-spin fa-3x fa-fw"></i>');
              // Send the token to your server
              stripeTokenHandler(result.token);
            }
      });
    });
    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
        $.get( "/customer/<%= params[:id] %>/update_card?stripeToken="+token.id, function( data ) {
            $('#creditCardContainer').html('<h6 class="font-14 text-center">Credit card saved on file</h6>');
        });
    };
    
    $('#updateCard').on('click', function() {
        $('#patientCardStatus').hide();
        $('#patientCardForm').fadeIn();
    });
                
    document.getElementById('updatePatientDetails').addEventListener('submit', function(event) {
        event.preventDefault();
        var name_val = document.getElementById('patient-full-name').value;
        console.log(name_val);
        var address_val = document.getElementById('patient-address').value;
        var phone_val = document.getElementById('patient-number').value;
        var instructions_val = document.getElementById('patient-instructions').value;
        updateDetails(name_val, address_val, phone_val, instructions_val);
        var params = 'patient-full-name='+name_val+'&'+'patient-address='+address_val+'&'+'patient-number='+
                        phone_val+'&'+'patient-instructions='+instructions_val;
        $('#patientForm').hide()
        $('#createPatientLoader').show();
        
        getUpdateData(params, name_val, address_val, phone_val, instructions_val);
    });
    
    function getUpdateData(params, name_val, address_val, phone_val, instructions_val) {
        $.get( "/update_patient/<%= params[:id] %>?"+params, function(data) {
            $('#createPatientLoader').hide();
            $('#updateConfirmation').fadeIn();
        });
    };
    
    $('#resetForm').on('click', function() {
        $('#updateConfirmation').hide();
        $('#patientForm').fadeIn();
    });
    
    function clearForm() {
        var form = document.getElementById('updatePatientDetails');
        form.reset();
        $('#patientForm').fadeIn();
    }
    
    function updateDetails(name_val, address_val, phone_val, instructions_val) {
        $('#patient_name').html(name_val);
        $('#patient_address').html(address_val);
        $('#patient_phone').html(phone_val);
        $('#patient_delivery_instructions').html(instructions_val);
    };
</script>