<link class="stylesheet" href="devise.css">

<style>
  body {
    overflow-y: hidden !important;
  }
</style>
<body>
  <div class="driver-signup col-md-5">
    <div class="driver-signup-div">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 driver-signup-banner">
          <h2 class="driver-signup-banner-text text-center">Welcome back!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 driver-signup-form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
          
            <div class="field">
              <%= f.email_field :email, class:"form-control no-border-radius", autofocus: true, placeholder:"Email" %>
            </div>
          
            <div class="field">
              <%= f.password_field :password, class:"form-control no-border-radius", autocomplete: "off", placeholder:"Password" %>
            </div>
          
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
          
            <div class="actions">
              <div class="row">
                <div class="col-md-6">
                  <%= f.submit "Log in", class:"btn btn-primary no-border-radius btn-block driver-signup-button" %>
                </div>
                <div class="col-md-6">
                  <%= link_to "Register", new_driver_registration_path, class:"btn btn-success no-border-radius btn-block driver-login-button" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 placeholder-div no-mobile">
    <img src="https://www.cannarecruiter.com/wp-content/uploads/2016/11/medical-marijuana-delivery-jobs.jpg" class="courier-image">
  </div>
</body>

