<style>
    div.dropdown-menu > a {
        margin-bottom: 10px;
    }
</style>
<% batches.reverse.each do |batch| %>
    <div class="modal fade" id="addRx<%= batch.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 50%; left: 25%;">
          <div class="modal-header">
            <h5 class="modal-title font-14" id="exampleModalLabel"><i class="fa fa-plus-circle"></i> Add an rx</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div class="batch<%= batch.id %>"><%= render 'rx_form' %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="editBatch<%= batch.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 50%; left: 25%;">
          <div class="modal-header">
            <h5 class="modal-title font-14" id="exampleModalLabel"><i class="fa fa-file-text-o"></i> Edit bag</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body" id="updateBatch<%= batch.id %>">
                <div class="alert alert-success alert-dismissible" role="alert" id="updateAlert<%= batch.id %>" style="display: none;">
                    Bag details updated!
                </div>
                <%= render partial: 'form', locals: {batch: batch} %>
            </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deliveryDetails<%= batch.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 75%; left: 12.5%;">
          <div class="modal-header">
            <h5 class="modal-title font-14" id="exampleModalLabel"><i class="fa fa-car"></i> Delivery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div id="bulletSpinner" style="display: none;">
                    <%= render 'common/bullet_spinner' %>
                </div>
                <div id="deliveryDetailsModalBody<%= batch.id %>">
                    <%= render partial: 'courier', locals: {batch: batch} if batch.courier_requested %>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="margin-bottom: 15px;" id="<%= batch.id %>">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    <h6 class="bold">
                        #<%= batch.auto_id %>
                    </h6>
                </div>
                <div class="col-md-3 offset-md-2 reduced-padding">
                    <button class="btn btn-secondary btn-block transaction-buttons" id="<%= batch.id %>"
                        data-toggle="modal" data-target="#editBatch<%= batch.id %>">
                        Recipient details
                    </button>
                </div>
                <div class="col-md-2 reduced-padding">
                    <button class="btn btn-success btn-block transaction-buttons" id="<%= batch.id %>"
                        data-toggle="modal" data-target="#addRx<%= batch.id %>" onclick="addBatchId(this)">
                        Add an rx
                    </button>
                </div>
                <div class="col-md-2 reduced-padding">
                    <%= link_to batch_path(batch), class:"btn btn-primary btn-block transaction-buttons", remote: true, method: :delete do %>
                        <i class="fa fa-times-circle"></i> Delete
                    <% end %>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <h6>Rx list:</h6>
                    <% if batch.rxes.count == 0 %>
                        <p class="font-14 theme-blue" id="rxListPlaceholder<%= batch.id %>">
                            This bag is empty
                        </p>
                        <div id="rxList<%= batch.id %>">
                            <% batch.rxes.each do |r| %>
                                <p class="font-14 badge badge-primary white remove-rx<%= r.id %>">
                                    <%= r.rx %>
                                    <span class="fa fa-times-circle cursor-pointer" id="<%= batch.id %>" onclick="removeRx(<%= r.id %>, this)"></span>
                                </p>
                            <% end %>
                        </div>
                    <% else %>
                        <p class="font-14 theme-blue" id="rxListPlaceholder<%= batch.id %>" style="display: none;">
                            This bag is empty
                        </p>
                        <div id="rxList<%= batch.id %>">
                            <% batch.rxes.each do |r| %>
                                <p class="font-14 badge badge-primary white remove-rx<%= r.id %>">
                                    <%= r.rx %>
                                    <span class="fa fa-times-circle cursor-pointer" id="<%= batch.id %>" onclick="removeRx(<%= r.id %>, this)"></span>
                                </p>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <div class="col-md-5 text-right reduced-padding">
                    <%= link_to mark_picked_path(:id => batch.id), class:"btn btn-info box-shadow request_btn#{batch.id} white", remote: true do %>
                        <i class="fa fa-check-circle"></i> Mark as picked
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<script>
    function addBatchId(elem) {
        var id = elem.id;
        $('#rx-form'+id).show();
        var inputs = document.getElementsByClassName('batch-id');
        var counter = 0;
        for (i=0;i<inputs.length;i++) {
            inputs[i].id = 'batchId'+id+counter.toString();
            document.getElementById(inputs[i].id).value = id;
            counter += 1;
        };
    }
    
    function fetchDetails(status, elem) {
        $('#bulletSpinner').hide();
        $('#bulletSpinner > p').remove();
        var id = elem.id
        $('#deliveryDetailsModalBody'+id).html('');
        if (status == "initialized") {
            getQuote(id);
        }
    }
    
    function getQuote(id) {
        console.log('clicked');
        var id = id;
        $('#bulletSpinner')
        .append('<p class="font-16 add-margin-top text-center">Getting delivery details...</p>');
        $('#bulletSpinner').show();
        $.get('/get_quote?batch_id='+id, function(data) {
            $('#bulletSpinner').hide();
            $('#bulletSpinner > p').remove();
            $('#deliveryDetailsModalBody'+id).html(data);
        })
        .done(e => {
            console.log('Quote retrieved!')
        })
        .fail(function(data) {
            console.error(data);
            $('#bulletSpinner').hide();
            $('#bulletSpinner > p').remove();
            $('#deliveryDetailsModalBody'+id)
            .html(`<span class="theme-red font-16">Failed to retrieve estimate, 
                    try again later. If the problem persists, contact us.
                    </span>`
                );
        });
    }
    
    function requestCourier(elem) {
        console.log('clicked');
        var id = elem.id;
        $('#deliveryDetailsModalBody'+id).html('');
        $('#bulletSpinner')
        .append('<p class="font-16 add-margin-top text-center">Requesting courier...</p>');
        $('#bulletSpinner').show();
        $.get('/request_courier?batch_id='+id, function(data) {
            $('#bulletSpinner').hide();
            $('#bulletSpinner > p').remove();
            $('#deliveryDetailsModalBody'+id).html(data);
            document.getElementsByClassName('request_btn'+id)[0].setAttribute('disabled', 'true');
            document.getElementsByClassName('request_btn'+id)[0].removeAttribute('onclick');
            $('request_btn'+id).html('Fetching details...');
        })
        .done(e => {
            console.log('Courier requested!');
        })
        .fail(function(data) {
            console.error(data);
            $('#bulletSpinner').hide();
            $('#bulletSpinner > p').remove();
            $('#deliveryDetailsModalBody'+id)
            .html(`<span class="theme-red font-16">Failed to request courier, 
                    try again later. If the problem persists, contact us.
                    </span>`
                );
        });
    }
    
    function displayCourier(id) {
        $('#bulletSpinner')
        .append('<p class="font-16 add-margin-top text-center">Getting courier details...</p>');
        $('#bulletSpinner').show();
    }
    
    function removeRx(rx_id, elem) {
        var id = elem.id;
        $.get('/remove_rx?batch_id='+id+'&rx_id='+rx_id);
    }
</script>