<form class="row batch-create" id="batch-create">
    <div class="form-group col-md-12">
        <textarea class="form-control batch-notes-field" name="batch-notes" placeholder="Start typing a note.."></textarea>
    </div>
    <div class="pf pf0"><%= render 'batches/patient_form' %></div>
    <div class="pf pf1"><%= render 'batches/patient_form' %></div>
    <div class="pf pf2"><%= render 'batches/patient_form' %></div>
    <div class="pf pf3"><%= render 'batches/patient_form' %></div>
    <div class="pf pf4"><%= render 'batches/patient_form' %></div>
    <div class="pf pf5"><%= render 'batches/patient_form' %></div>
    <div class="pf pf6"><%= render 'batches/patient_form' %></div>
    <div class="pf pf7"><%= render 'batches/patient_form' %></div>
    <div class="pf pf8"><%= render 'batches/patient_form' %></div>
    <div class="pf pf9"><%= render 'batches/patient_form' %></div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <a class="background-transparent font-14 theme-blue add-patient"><i class="fa fa-plus"></i> Add a delivery package</a>
            </div>
            <div class="col-md-12 text-right add-padding-top" id="request-driver">
                <button class="btn btn-secondary" id="request-driver">
                   Request Driver
                </button>
            </div>
        </div>
    </div>
</form>