<body>
    <div class="all-batches">
        <header class="col-md-12 request-index-header">
            <div class="row requests-index-header ">
                <div class="col-md-6">
                    <div class="row requests-actions request-search-border">
                        <div class="col-md-1 search-icon-div text-center">
                            <span class="request-search-addon"><i class="fa fa-search req-search-icon"></i></span>
                        </div>
                        <div class="col-md-11">
                            <form class="request-search-form">
                                <%= form_tag batch_search_path, method: :get, id: 'batch-lookup-form' do %>
                                    <%= text_field_tag :search, params[:search], class:'form-control request-search', placeholder: batch_placeholder_text do %>
                                    <% end %>
                                <% end %>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog white"></i> Filter
                        </button>
                        <div class="dropdown-menu">
                            <%= render 'dropdown' %>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <%= link_to new_batch_path, class:"btn btn-primary padding-14" do %>
                        <span class="font-14"><i class="fa fa-plus"></i> Add new batch</span>
                    <% end %>
                </div>
            </div>
        </header>
        <div class="batch-card-container" id="batch-card-container">
            <% if params[:search] %>
                <%= render 'batches' %>
            <% else %>
                <%= render batch_sort %>
            <% end %>
        </div>
</body>