<style>
    .requests-index-header {
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }
    .main-card, .main-page-card {
        padding: none !important;
    }
    .batches-buttons {
        font-size: 12px;
        padding: 10px;
    }
    .batch-list {
        box-shadow: 0 2px 15px rgba(84,96,103,.25);
    }
    .create-batch {
        display: block;
    }
    .batch-search {
        border-radius: 5px !important;
        border: 1px solid #4095e3 !important;
        box-shadow: none !important;
        padding-left: 15px !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .modal, .modal-content {
        border-color: #e1e1e2;
    }
    .remove-patient {
        padding-top: 5px;
    }
    .modal-header {
        background-color: #e1e1e2;
        border-bottom-color: #e1e1e2;
    }
    .cancel-create {
        font-size: 14px;
        font-weight: 400px;
        padding: 13px;
    }
    .table-content {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #707071;
        font-size: 13px;
        border-bottom: 1px solid #e1e1e2;
    }
    .table-header {
        border-top: 1px solid #e1e1e2;
        border-bottom: 1px solid #e1e1e2;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #e6ebf1;
        color: #59595a;
        font-size: 15px;
    }
    .d--toggle--info, .create-batch {
        display: inline !important;
    }
    .ellipsis-border {
        padding: 2px;
        border: 1px solid #707071;
    }
    .d--toggle--info {
        border: 2px solid #17a2b8;
        margin-left: 5px;
    }
    #placeholder {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #batchPageHeader {
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2e2;
    }
    #markPickedUpSpan {
        font-weight: 800px !important;
    }
    #markPickedUp {
        box-shadow: none !important;
    }
    .add-padding-top {
        padding-top: 15px;
    }
    #createButton {
        padding-top: 10px;
    }
    #batchCreation {
        text-align: center !important;
    }
    #batchSearchInput {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .hide {
        padding-top: 30px;
    }
    .search-load {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .no-match-error {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #creatingNewBatch, .clear-row, .search-error, .loader-row, .spinner-row,
    #placeholder, #batchCardContainer, .load-status, .hide, #hiddenBatches{
        display: none;
    }
</style>

<div class="requests-index-header">
    <div class="row" id="batchPageHeader">
        <div class="col-md-12">
            <span class="medium-gray font-18">Batches</span>
        </div>
    </div>
    <div id="main" class="row add-padding-top">
        <div class="col-md-3">
            <div>
                <%= form_tag batch_search_path, remote: true, method: :get, id: 'batchSearchInput' do %>
                    <%= text_field_tag :search, params[:search], class:'form-control font-12 batch-search', placeholder: "Search batches by date, status or id" do %>
                    <% end %>
                <% end %>
            </div>
            <div id="createButton">
                <a class="btn btn-primary transaction-buttons create-batch" href="/create_batch" id="createBatch">
                    <i class="fa fa-plus"></i>
                    Start New Batch
                </a>
                <button class="btn btn-info dropdown-toggle d--toggle--info transaction-buttons" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter Batches By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= render 'dropdown' %>
                </div>
            </div>
        </div>
        <%= render 'common/loader' %>
        <div class="col-md-9" id="batchCardContainer">
            <div class="card hide">
                <div class="card-body">
                    <section id="placeholder" class="row">
                        <div class="col-md-12 text-center">
                            <h6 class="medium-gray">You have not created any batch yet</h6>
                        </div>
                    </section>
                    <section id="creatingNewBatch" class="row">
                        <div class="col-md-12 text-center" id="batchCreation">
                            <%= render 'common/spinner' %>
                            <h6 class="medium-gray font-14 text-center">Creating batch...</h6>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card batch-list">
                <div class="table-header container">
                    <div class="row">
                        <div class="col-md-2">
                            <span>Batch ID</span>
                        </div>
                        <div class="col-md-4">
                            <span>Date Created</span>
                        </div>
                        <div class="col-md-2">
                            <span>Status</span>
                        </div>
                        <div class="col-md-4">
                            <span>Action</span>
                        </div>
                    </div>
                </div>
                <div id="hiddenBatches">
                    <%= render 'batches' %>
                </div>
                <div id="allBatches">
                    <%= render 'all' %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    // onLoad //
    $('.hide').hide();
    $('#creatingNewBatch').hide();
    $('#placeholder').hide();
    $('.loader-row').show();
    // checkFirebasePharmacy();
    
    // fetch rows of batch //
    var batches = document.getElementsByClassName("batches-row");
    
    // if rows present, return list, if not, return placeholder //
    if (batches.length > 0) {
        $('.loader-row').hide();
        $('#batchCardContainer').fadeIn();
    } else {
        $('.loader-row').hide();
        $('#placeholder').fadeIn();
    };
    
    function writeToPharmacy() {
        checkFirebasePharmace();
        database.collection('pharmacies').add({
            pharmacy_name: "<%= current_pharmacy.name %>",
            pharmacy_address: "<%= current_pharmacy.street %>",
            pharmacy_phone: <%= current_pharmacy.number %>,
            pharmacy_email: "<%= current_pharmacy.email %>",
            pharmacy_id: <%= current_pharmacy.id %>,
            pharmacy_website: "<%= current_pharmacy.website %>",
        }).then(function() {
            // Call function to reset form //
            // clearInputs();
        });
    };
    
    function checkFirebasePharmacy() {
        database.collection('pharmacies').doc('AKPJYgJcTBS6Fu759JQv')
        .set({
            pharmacy_name: "<%= current_pharmacy.name %>",
            pharmacy_address: "<%= current_pharmacy.street %>",
            pharmacy_phone: <%= current_pharmacy.number %>,
            pharmacy_email: "<%= current_pharmacy.email %>",
            pharmacy_id: <%= current_pharmacy.id %>,
            pharmacy_website: "<%= current_pharmacy.website %>",
        }).then(function() {
            
        }).catch(function() {
            return;
        });
    };
    
    function checkStatus(element) {
        var req_id = element.getAttribute('id');
        var id = element.getAttribute('batch');
        console.log(element);
        if (!req_id) {
            $('.check-status'+id).html('request pending');
            return;
        }
        $('#status'+id).hide();
        $('#loadStatus'+id).show();
        $('.check-status'+id).append('checking...');
        database.collection('requests').doc(req_id)
        .get().then(function(doc) {
            $('.check-status'+id).html(parseRequest(doc.data().accepted));
        });
        console.log(parseRequest(doc.data().accepted));
    };
    
    function parseRequest(value) {
        if (value == false) {
            return 'request pending'
        } else {
            return 'request accepted'
        }
    };
  
    // Create a batch //
    var batch = document.getElementById('createBatch');
    batch.addEventListener('click', function() {
        $('.batch-list').hide();
        $('.spinner-row').show()
        $('#creatingNewBatch').show();
        $('.hide').fadeIn();
    });
  
</script>