<div class="row">
    <div class="col-md-8">
        <div class="card add-margin-bottom">
            <a class="btn btn-link font-18" onclick="createBatch()">
                <div class="card-body">
                    <p class="text-center font-18 theme-blue">
                        <i class="fa fa-plus-circle"></i> Create a new delivery bag
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw hidden" id="creating-batch"></i>
                    </p>
                </div>
            </a>
        </div>
        <div id="placeholder"><%= render partial: 'placeholder' unless !@batches.empty? %></div>
        <div id="allBatches"><%= render partial: 'batches', locals: {batches: @batches} %></div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header background-cyan white">
                <p class="font-16 white" style="margin-bottom: 0;">Deliveries sent</p>
            </div>
            <div class="card-body" style="padding: 0;">
                <div class="col-md-12" style="border-bottom: 1px solid #ced2da; padding: .75rem 1.25rem;">
                    <p class="font-16">
                        <span class="text-left">Today:</span>
                        <span class="text-right theme-blue count_today"><%= delivery_count_today %></span>
                    </p>
                </div>
                <div class="col-md-12" style="border-bottom: 1px solid #ced2da; padding: .75rem 1.25rem;">
                    <p class="font-16">
                        <span class="text-left">This week:</span>
                        <span class="text-right theme-blue count_this_week"><%= delivery_count_this_week %></span>
                    </p>
                </div>
                <div class="col-md-12" style="padding: .75rem 1.25rem;">
                    <p class="font-16">
                        <span class="text-left">This month:</span>
                        <span class="text-right theme-blue count_this_month"><%= delivery_count_this_month %></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function createBatch() {
        $.post('/create_batch?', {batch: {"name": "batch"}}, e => {
            $('#placeholder').hide();
        });
    }
</script>