$('#allBatches').html(`
    <% @batches.each do |batch| %>
        <div class="table-content container batches-row" pharmacist="<%= batch.pharmacist %>" date="<%= timestamp(batch) %>" id="<%= batch.id %>">
            <div class="row">
                <div class="col-md-2">
                    <span class="batches-details">
                        <%= link_to batch.id, batch_path(batch), class:"theme-blue background-transparent no-underline" %>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="batches-details theme-blue">
                        <%= link_to timestamp(batch), batch_path(batch), class:"theme-blue background-transparent no-underline" %>
                    </span>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-secondary btn-block medium-size-btn white mark-picked<%= batch.id%>" id="<%= batch.request_id %>" batch="<%= batch.id %>" onclick="checkStatus(this)">
                                <% if batch.picked %>
                                    Batch picked up!
                                <% else %>
                                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw font-11 load-status" id="loadStatus<%= batch.id %>"></i>
                                    <span id="status<%= batch.id %>">
                                        <i class="fa fa-check-circle" id="markPicked<%= batch.id %>"></i> Mark as picked
                                    </span>
                                <% end %>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <%= link_to batch_path(batch), class:"btn btn-info btn-block white medium-size-btn d--toggle--info" do %>
                                <i class="fa fa-search"></i> View Details
                            <% end %>
                        </div>
                        <div class="col-md-4">
                            <%= link_to batch_path(batch), class:"btn btn-primary btn-block white medium-size-btn", remote: true, method: :delete do %>
                                <i class="fa fa-times-circle"></i> Delete
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
`);