<style>
    .disabled {
        color: #e1e1e2 !important;
    }
    .main-page-card {
        border: none !important;
        box-shadow: none;
        background: transparent !important;
    }
    .main-card {
        padding: 0;
    }
    #batchShowHeader {
        padding-bottom: 15px;
    }
    .ellipsis {
        background-color: transparent;
    }
    .ellipsis:hover {
        background-color: transparent;
        border: 1px solid #e1e1e2;
        border-radius: 2px;
        padding-right: 4px;
        padding-left: 4px;
        cursor: pointer;
    }
    .table-header {
        border-top: 1px solid #e1e1e2;
        border-bottom: 1px solid #e1e1e2;
        padding: .75rem 1.25rem !important;
        background-color: #e6ebf1;
        color: #59595a;
        font-size: 15px;
    }
    .table-content {
        padding: .75rem 1.25rem !important;
        color: #707071;
        font-size: 13px;
        border-bottom: 1px solid #e1e1e2;
    }
    .fa--batch {
        font-size: 30px;
    }
    .show-charge-link {
        cursor: pointer;
    }
    #charge {
        border-bottom: 1px solid #e1e1e2;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        font-weight: 500;
        color: #707071;
    }
    .removeDelivery {
        padding: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .removeDelivery:hover {
        background-color: transparent;
    }
    #driverRequested {
        padding-top: 15px;
    }
    #liveSearch {
        margin-top: auto !important;
    }
    #liveSearchResults {
        border: 1px solid #e1e1e2;
        padding-top: 10px;
    }
    .patient {
        padding-bottom: 5px;
    }
    #topPanel {
        border-bottom: none;
    }
    #driverDetailsCard {
        height: 100% !important;
    }
    #batchShowHeaderButtons {
        border-top: 1px solid #e1e1e2;
    }
    #patientSearchAddon {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }
    .patient-search {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-color: #ced4da !important;
    }
    #driverPending {
        padding-top: 40px;
    }
    #placeholder, #placeholder-fail, .spinner-row, #all-deliveries,
    .loader-row, #driverRequested, #requestPending, #requestAccepted, #requestError,
    #requestLoading, #liveSearchResults, #hiddenRequestDetails {
        display: none;
    }
    #requestCancelled {
        padding-top: 10px;
    }
    .btn-primary:hover {
        color: #6c757d !important;
    }
</style>

<div id="main">
    <div class="modal fade batch-modal" id="newDelivery" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title medium-gray font-14" id="exampleModalLabel">Add Prescription</h5>
                <a class="background-transparent no-underline close" href="#" data-dismiss="modal" aria-label="Close">
                   <i class="fa fa-times-circle-o"></i>
                </a>
            </div>
            <div class="modal-body" id="batch_create_modal">
                <div class="col-md-12">
                    <div class="input-group-prepend" id="patientSearchDetails">
                        <span class="input-group-text background-transparent theme-blue" id="patientSearchAddon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" class="no-box-shadow form-control font-14 batch-search patient-search" id="liveSearch" placeholder="look up an rx" onkeyup="liveSearch(this)">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card" id="liveSearchResults">
                        
                    </div>
                </div>
                <%= render 'batches/patient_form' %>
                <%= render 'common/loader' %>
            </div>
        </div>
      </div>
    </div>
    <section class="row" id="batchShowHeader">
        <div id="hiddenRequestDetails"></div>
        <div id="batchFirebaseId" style="display: none;"><%= @batch.request_id %></div>
        <div class="col-md-12">
            <div class="card patientCard">
                <div class="card-header background-transparent" id="topPanel">
                    <header class="top-panel row">
                        <div class="col-md-4">
                            <span class="font-20 medium-gray">Batch <%= params[:id] %></span>
                        </div>
                        <div class="col-md-3 offset-md-5 text-right">
                            <a class="btn btn-info transaction-buttons white" id="returnToBatchesList" href="/batches">
                                <i class="fa fa-long-arrow-left"></i> Return To Batch List
                            </a>
                        </div>
                    </header>
                </div>
                <div class="card-body" id="batchShowHeaderButtons">
                    <section class="top-panel row">
                        <div class="col-md-3 top-panel-div" id="addDeliveryButton">
                            <% if @batch.request_id.nil? %>
                                <button class="btn btn-secondary transaction-buttons" id="addDelivery" data-toggle="modal" data-target="#newDelivery">
                                    <i class="fa fa-plus-circle"></i> Add Prescription
                                </button>
                            <% end %>
                        </div>
                        <div class="col-md-2 offset-md-7 text-right top-panel-div" id="requestDriverButton">
                            <% if @batch.request_id != nil %>
                                <% if @batch.driver_id == nil %>
                                    <button class="btn btn-primary white transaction-buttons request-driver cancel-request" id="<%= @batch.request_id %>" onclick="cancelRequest(this)">
                                        <i class="fa fa-times-circle"></i> Cancel request
                                    </button>
                                <% end %>
                            <% else %>
                                <button class="btn btn-primary white transaction-buttons request-driver" id="<%= @batch.request_id %>" onclick="requestDriver(this)">
                                    <i class="fa fa-car"></i> Request Driver
                                </button>
                                <button class="btn btn-primary white transaction-buttons" style="display: none;" id="sendNotification" text="<%= @batch.notification_text %>" batch="<%= params[:id] %>">
                                    Send Notif
                                </button>
                            <% end %>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    
    <section id="placeholder" class="row">
        <div class="col-md-12">
            <div class="card patientCard">
                <div class="card-body text-center opaque">
                    <i class="fa fa-archive fa--batch"></i>
                    <h6>This batch is empty</h6>
                </div>
            </div>
        </div>
    </section>
    
    <section id="placeholder-fail" class="row">
        <div class="col-md-12">
            <div class="card patientCard">
                <div class="card-body text-center">
                    <i class="fa fa-frown"></i>
                    <h6>This page could not be loaded</h6>
                    <a class="btn btn-primary reload-button" href=""><i class="fa fa-sync"></i> Reload</a>
                </div>
            </div>        
        </div>
    </section>
    
    
    <section id="all-deliveries" class="row">
        <div class="col-md-12">
            <div class="card patientCard">
                <div class="card-header font-16 weighted background-transparent no-border-bottom">
                    <div class="row">
                        <div class="col-md-4">
                            Deliveries
                        </div>
                    </div>
                </div>
                <div class="table-header">
                    <div class="row">
                        <div class="col-md-3 no-right-padding">
                            <span>Name</span>
                        </div>
                        <div class="col-md-4 no-horizontal-padding">
                            <span>Address</span>
                        </div>
                        <div class="col-md-2 no-horizontal-padding">
                            <span>Phone</span>
                        </div>
                        <div class="col-md-1 no-horizontal-padding">
                            <span>Copay</span>
                        </div>
                        <div class="col-md-1 no-horizontal-padding">
                            <span>D. Time</span>
                        </div>
                        <div class="col-md-1 no-horizontal-padding">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div id="deliveries"><%= render 'all_deliveries' %></div>
            </div>
        </div>
    </section>
    
    <section id="driverRequested" class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" id="displayInline">
                    <div class="card patientCard">
                        <div class="card-header font-16 weighted background-transparent">
                            <div class="row">
                                <div class="col-md-4">
                                    Request
                                </div>
                                <div class="col-md-6 offset-md-2 text-right" id="driverDetails">
                                    <div id="requestStatusDiv">
                                        <span class="medium-gray font-14">Status: </span>
                                        <span id='request-status'>
                                            <span class="theme-blue font-14 status-span"><%= @batch.request_status %></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="requestCardBody">
                            <div id="requestLoading" class="text-center">
                                <%= render 'common/spinner' %>
                                <h6 class="font-13 medium-gray"id="sendingRequest">Sending Request...</h6>
                            </div>
                            <div id="requestError" class="text-center">
                                <h6 class="font-13 theme-red"><i class="fa fa-warning"></i> Error Sending Request. Please try again.</h6>
                            </div>
                            <div id="requestSent">
                                <div id="requestPending">
                                    <%= render 'common/pending' %>
                                    <div id="requestDetails"></div>
                                </div>
                                <div id="requestAccepted">
                                    <%= render 'common/pending' %>
                                </div>
                                <div id="batchRequestDetails">
                                    <% if current_batch.request_id %>
                                        <h6 class="font-14 details-heading">
                                            <span class="weighted">Estimated Mileage</span><br />
                                            <span id="requestMileage"><%= current_batch.request_mileage %> miles</span>
                                        </h6>
                                        <h6 class="font-14 details-heading">
                                            <span class="weighted">Estimated Fare</span><br />
                                            <span id="requestCost">$<%= current_batch.request_cost %></span>
                                        </h6>
                                        <h6 class="font-14 details-heading">
                                            <span class="weighted">Estimated Duration</span><br />
                                            <span id="requestDuration"><%= current_batch.delivery_duration %> minutes</span>
                                        </h6>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card patientCard" id="driverDetailsCard">
                        <div class="card-header font-16 weighted background-transparent">
                            <div class="row">
                                <div class="col-md-4">
                                    Driver
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="requestCardBody1">
                            <div id="driverPending" class="text-center" style="padding-top: 0;">
                                <div id="loadingRequest"><%= render 'common/pending' if @batch.driver_id.nil? %></div>
                                <div id="driverLicense">
                                    <div class="float-left text-left" id="courier-image-div" style="width: 30%;">
                                        <%= image_tag @courier.avatar.url(:medium), class:"courier-license-image" if @courier %>
                                    </div>
                                    <div class="float-right text-left" id="courier-details-div" style="width: 70%; border-left: 1px solid #e1e1e2; padding-left: 15px;">
                                        <% if @courier %>
                                            <h6 class="font-14 ">Name: <span class="theme-blue"><%= @courier.first_name %></span></h6>
                                            <h6 class="font-14 ">Phone: <span class="theme-blue"><%= @courier.number %></span></h6>
                                            <h6 class="font-14 ">License: <span class="theme-blue"><%= @courier.license_plate %></span></h6>
                                            <h6 class="font-14 ">Car: <span class="theme-blue"><%= @courier.car_info %></span></h6>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    
    var delivery_count = <%= current_batch.deliveries.count %>;
    
    if (delivery_count == 0) {
        $('#placeholder').fadeIn();
    } else {
        $('#all-deliveries').show();
        $('.request-driver').show();
    }
    
    var doc = document.getElementById('hiddenRequestDetails');
    var fare_elem = document.createElement('h6');
    fare_elem.setAttribute('id', 'fare');
    fare_elem.setAttribute('value', '0');
    $('#fare').css('display', 'none');
    doc.append(fare_elem);
    var mile_elem = document.createElement('h6');
    mile_elem.setAttribute('id', 'mileage');
    mile_elem.setAttribute('value', '0');
    $('#mileage').css('display', 'none');
    doc.append(mile_elem);
    var duration_elem = document.createElement('h6');
    duration_elem.setAttribute('id', 'duration');
    duration_elem.setAttribute('value', '0');
    $('#duration').css('display', 'none');
    doc.append(duration_elem);
    
    $('#fare').attr('value', <%= current_batch.request_cost %>);
    $('#mileage').attr('value', <%= current_batch.request_mileage %>);
    $('#duration').attr('value', <%= current_batch.delivery_duration %>);
    
    // Grab request_id of current batch //
    var req_id = "<%= current_batch.request_id if current_batch.request_id != nil %>";
    var db = database.collection('requests');
    if (req_id) {
        $('#driverRequested').show();
    }
    
    function getAllDeliveries() {
        var details = [];
        var deliveries = document.getElementsByClassName('delivery-content');
        for (i=0;i<deliveries.length;i++) {
            var id = deliveries[i].id;
            var address = document.getElementById(id).getAttribute('address');
            var phone = document.getElementById(id).getAttribute('phone');
            var hash = {};
            hash["address"] = address;
            hash["phone"] = phone;
            details.push(hash);
        }
        console.log(details);
        return details;
    };
    
    function mileage() {
        var mileage = document.getElementById("mileage").getAttribute('value');
        console.log(mileage);
        return mileage;
    };
    
    function fare() {
        var fare = document.getElementById("fare").getAttribute('value');
        console.log(fare);
        return fare;
    };
    
    function duration() {
        var duration = document.getElementById("duration").getAttribute('value');
        console.log(duration);
        return duration;
    };
    
    
    // Request driver functionality //
    function requestDriver() {
        $('#requestLoading').show();
        $('#driverRequested').fadeIn();
        database.collection('requests/').add({
            pharmacy_name: "<%= current_pharmacy.name %>",
            pharmacy_address: "<%= current_pharmacy.street %>",
            pharmacy_phone: '<%= current_pharmacy.number %>',
            pharmacy_id: <%= current_pharmacy.id %>,
            total_milage: mileage(),
            fare: fare(),
            trip_duration: duration(),
            deliveries: getAllDeliveries(),
            batch_id: <%= current_batch.id %>,
            status: 'pending',
            driver: null
        }).then(function(data) {
            // submit firebase-generated id to postgres database and calculate
            // mileage
            $('#sendNotification').click();
            $('#batchFirebaseId').html(data.id);
            $('#addDelivery').remove();
            $('#requestDriverButton').html(
                '<button class="btn btn-primary white transaction-buttons request-driver cancel-request" ' +
                'id=' + data.id + ' onclick="cancelRequest(this)">'
                    + '<i class="fa fa-times-circle"></i> Cancel request'
                + '</button>' +
                '<button class="btn btn-primary white transaction-buttons"' +
                'style="display: none;" id="sendNotification" text="' +
                `<%= @batch.notification_text %>` + '" batch="<%= @batch.id %>">Send Notif</button>'
            );
            $('#deleteDeliveryItem').empty();
            $('#requestLoading').fadeOut();
            submitToDatabase(data.id);
            $('#driverDetails').html('<div id="requestStatusDiv"><span class="medium-gray font-14">' +
                            'Status: </span><span id="request-status"><span class="theme-blue status-span">' +
                            'pending</span></span></div>');
        }).catch(function(error) {
            console.log(error);
            $('#requestLoading').hide();
            $('#requestError').show();
        });
        // look for drivers through onSnapshot or other function
    };
    
    // create hidden form and submit to database //
    function submitToDatabase(id, batch_id=<%= params[:id] %>) {
        var params = 'request_id='+id.toString()+'&'+'batch_id='+batch_id.toString();
        $.get( "/update_batch?"+params, function( data ) {
            $('#batchRequestDetails').html(data)
        });
    };
    
    // Convert data to minutes //
    function toMin(time_in_seconds) {
        return parseFloat(time_in_seconds/60);
    };
    
    function liveSearch(elem) {
        var search = document.getElementById("liveSearch").value;
        if (search.length === 0) {
            $('#liveSearchResults').hide();
            return;
        }
        $.get('/live_search?search='+search, function(html) {
            $("#liveSearchResults").html(html).show();
        });
    };
    
    function selectCustomer(elem) {
        document.getElementById('patient-full-name').value = elem.getAttribute('name');
        document.getElementById('patient-number').value = elem.getAttribute('phone');
        document.getElementById('patient-address').value = elem.getAttribute('address');
        document.getElementById('patient-id').value = elem.getAttribute('rx_id');
        console.log(document.getElementById('patient-id').value);
        $('#liveSearchResults').hide();
    };
    
    // add listener to patient addition form //
    document.getElementById('addPatient').addEventListener('submit', function(event) {
        event.preventDefault();
        $('.add-delivery').css('opacity', '0.7');
        $('.add-delivery').html('adding delivery...');
        var id = document.getElementById('patient-id').value;
        var name = document.getElementById('patient-full-name').value;
        var address = document.getElementById('patient-address').value;
        var phone = document.getElementById('patient-number').value;
        var copay = document.getElementById('patient-copay').value;
        var medications = document.getElementById('patient-medications').value;
        var delivery = document.getElementById('delivery-time').value;
        var params = 'patient_name='+name+'&patient_address='+address+'&patient_phone='+
                        phone+'&copay='+copay+'&medications='+medications+'&delivery='+
                        delivery+'&batch_id='+<%= params[:id].to_s %>+'&patient_id='+id
        $.get('/create_deliveries?'+params, function(data) {
            if (delivery_count === 0) {
                $('#placeholder').remove();
                $('.request-driver').show();
                $('#all-deliveries').fadeIn();
            }
            clearInputs();
        });
        $.get('/get_delivery_details/<%= current_batch.id %>.json', function(data) {
            $('#fare').attr('value', data["batches"]["request_cost"]);
            $('#mileage').attr('value', data["batches"]["request_mileage"]);
            $('#duration').attr('value', data["batches"]["delivery_duration"]);
        });
        $('.add-delivery').css('opacity', '1');
        $('.add-delivery').html('<i class="fa fa-plus-circle"></i> Add Delivery');
    });
    
    document.getElementById('returnToBatchesList').addEventListener('click', function() {
        $('#main').fadeOut();
        $('.loader-row').show();
    });
    
    // clear form //
    function clearInputs() {
        document.getElementById('addPatient').reset();
    };
    
    function cancelRequest(elem) {
        $('#requestLoading').hide();
        $('#sendingRequest').html('Cancelling request...');
        var id = <%= @batch.id %>;
        if (elem.getAttribute('id').length > 0) {
            var request_id = elem.getAttribute('id');
        } else {
            var request_id = "<%= @batch.request_id %>";
        }
        $.get('/cancel_request?id='+id, function(data) {
            db.doc(request_id).delete().then(function() {
                console.log('Request cancelled!');
            }).catch(function(error) {
                console.log('Unable to cancel request. Error:' + error);
            });
            window.location.replace('/batches/<%= params[:id] %>');
            $('#driverLicense').html('Cancelling request...');
            $('#batchShowHeaderButtons').html(
                '<section class="top-panel row">' +
                    '<div class="col-md-3 top-panel-div" id="addDeliveryButton">' +
                        `<button class="btn btn-secondary transaction-buttons" id="addDelivery" data-toggle="modal" data-target="#newDelivery">
                            <i class="fa fa-plus-circle"></i> Add Delivery
                        </button>
                    </div>
                    <div class="col-md-2 offset-md-7 text-right top-panel-div" id="requestDriverButton">
                        <button class="btn btn-primary white transaction-buttons request-driver" onclick="requestDriver()">
                            <i class="fa fa-car"></i> Request Driver
                        </button>
                    </div>` +
                    '<button class="btn btn-primary white transaction-buttons"' +
                    'style="display: none;" id="sendNotification" text="' +
                    `<%= @batch.notification_text %>` + '">Send Notif</button>' +
                '</section>');
        });
    }
    
    db.where('batch_id', '==', <%= @batch.id %>).onSnapshot(function(docs) {
        docs.forEach(function(doc) {
            if (doc.data() != null && doc.data().driver != null) {
                var driver = doc.data().driver;
                var batch = doc.data().batch_id
                $.get('/fetch_driver/'+driver+'/'+batch, function(data) {
                    // do something
                    console.log('fetched!'+data['driver'].first_name);
                    $('#loadingRequest').remove();
                    $('.cancel-request').remove();
                    $('#deleteDeliveryItem').remove();
                    $('.status-span').html('accepted');
                    $('#driverPending').css('padding-top', '0');
                    $('#courier-image-div').html('<a href="/batches/<%= @batch.id %>" class="background-transparent theme-blue">reload photo</a>');
                    $('#courier-details-div').css('padding-left', '15px').html(
                      '<h6 class="font-14">Name: <span class="theme-blue">' +
                      data['driver'].first_name + '</span></h6>' +
                      '<h6 class="font-14 ">Phone: <span class="theme-blue">' +
                      data["driver"].number + '</h6>' +
                      '<h6 class="font-14 ">License Plate: <span class="theme-blue">'
                      + data['driver'].license_plate + '</span></h6>' +
                      '<h6 class="font-14 ">Car: <span class="theme-blue">' +
                      data['driver'].car_color + ' ' + data['driver'].car_year + ' ' 
                      + data['driver'].car_make + ' ' + data['driver'].car_model +
                      '</span></h6>'
                    );
                });
                db.doc(doc.id).delete().then(function() {
                    console.log('traversal completed');
                }).catch(function(error) {
                    console.error('traversal unsuccessful because: '+error.code);
                });
            }
        });
    })
</script>