<%= form_for(@support) do |f| %>
    <% if @support.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@support.errors.count, "error") %> prohibited this form from being saved:</h2>
    
          <ul>
          <% @support.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-6">
            <div class="field">
                <%= f.text_field :pharmacy_name, class:"form-control", autofocus: true, placeholder:"Pharmacy Name" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="field">
                <%= f.text_field :pharmacy_email, class:"form-control", autofocus: true, placeholder:"Pharmacy Email" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="field">
                <%= f.text_field :pharmacy_number, class:"form-control", autofocus: true, placeholder:"Pharmacy Phone" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="field">
                <%= f.select(:issue_type, issue(@chosen_issue), multiple: true, class:"form-control", placeholder:"Issue Type") %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="field">
                <%= f.text_area :question_details, class:"form-control batch-notes-field", autofocus: true, placeholder:"How can we help you?" %>
            </div>
        </div>
    </div>
    <div class="actions text-right">
        <span class="submit-batch batch-new-1"><%= f.submit "Submit form", class:"btn btn-primary new-batch-button"%></span>
    </div>
<% end %>