<%= form_for @driver, :html => { multipart: true, :class => "form-horizontal image" } do |f| %>
    <% if @driver.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:
            </h2>
            <ul>
                <% @driver.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="row">
        <div class="col-md-6">
            <div class="field">
                <%= f.text_field :bank_account_number, class:"form-control", autofocus: true, placeholder:"Card Number" %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="field">
                <%= f.text_field :exp_month, class:"form-control", autocomplete: "off", placeholder:"Exp Month" %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="field">
                <%= f.text_field :exp_year, class:"form-control", autofocus: true, placeholder:"Exp Year" %>
            </div>
        </div>
        <div class="col-md-2">
            <div class="field">
                <%= f.text_field :cvc, class:"form-control", autocomplete: "off", placeholder:"CVC" %>
            </div>
        </div>
    </div>
    <section class="row">
        <div class="col-md-12 text-right">
            <div class="actions">
                <%= f.submit 'Submit', class:"btn btn-light white driver-signup-button" %>
                <%= link_to 'Cancel', :back, class:"btn btn-primary" %>
            </div>
        </div>
    </section>
<% end %>