<%= form_for @driver, :html => { multipart: true, :class => "form-horizontal image" } do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.email_field :email, class:"form-control", autofocus: true, placeholder:"Email" %>
  </div>

  <div class="field">
    <%= f.text_field :first_name, class:"form-control", autocomplete: "off", placeholder:"First Name" %>
  </div>
  <div class="field">
    <%= f.text_field :last_name, class:"form-control", autofocus: true, placeholder:"Last Name" %>
  </div>

  <div class="field">
    <%= f.text_field :number, class:"form-control", autocomplete: "off", placeholder:"Phone Number" %>
  </div>
  <div class="field">
    <%= f.text_field :street, class:"form-control", autofocus: true, placeholder:"Street Address" %>
  </div>

  <div class="field">
    <%= f.text_field :town, class:"form-control", autocomplete: "off", placeholder:"Town" %>
  </div>
  <div class="field">
    <%= f.text_field :state, class:"form-control", autocomplete: "off", placeholder:"State" %>
  </div>
  <div class="field">
    <%= f.text_field :zipcode, class:"form-control", autocomplete: "off", placeholder:"Zipcode" %>
  </div>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-success btn-block driver-signup-button"%>
  </div>
<% end %>
