<div class="container">
    <div class="row" style="padding: 30px 0;">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-center background-transparent font-14 weighted">
                    Deliveries
                </div>
                <div class="body" style="height: auto !important;">
                    <% if @batches.present? %>
                        <div id="delivery_week" class="row">
                            <div class="col-md-12" style="padding-left: 40px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="delivery-item-img text-left float-left">
                                    Past 7 days:
                                </div>
                                <div class="delivery-item-details float-right">
                                    <div class="float-right text-right" style="padding-right: 40px;">
                                        <strong>$<%= @batches_week %></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 0;">
                        <div id="delivery_week" class="row">
                            <div class="col-md-12 text-center" style="padding-top: 10px; padding-bottom: 10px;">
                                History
                            </div>
                        </div>
                        <hr style="margin: 0;">
                        <% @batches.each do |b| %>
                            <div id="delivery<%= b.id %>" class="row">
                                <div class="col-md-12" style="padding-left: 40px; padding-top: 10px; padding-bottom: 10px;">
                                    <div class="delivery-item-img text-left float-left" style="padding-right: 10px;">
                                        <img src="/images/pharmacy.png">
                                    </div>
                                    <div class="delivery-item-details float-left">
                                        <div class="float-left" style="padding-right: 140px;">
                                            <span class="weighted"><strong><%= b.updated_at.strftime("%m/%d/%Y") %></strong></span><br />
                                            <span class="add-padding-top"><%= b.deliveries.count %> deliveries</span>
                                        </div>
                                        <div class="float-right text-right">
                                            <strong>$<%= driver_pay(b.request_cost) %></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if b != @batches.last %><hr style="margin: 0;"><% end %>
                        <% end %>
                    <% else %>
                        <h6 class="font-14 medium-gray text-center vertical-align-center">You haven't made any deliveries yet</h6>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>