<style>
    .col-md-8 {
        padding-bottom: 25px;
    }
    .settings-form {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .vertical-panel {
        display: none;
    }
    .main-nav {
        display: auto;
    }
    .main-pages {
        float: none !important;
    }
    .footer {
        background: #e5e5e5;
    }
    .form-control {
        height: 45px;
        background: #e5e5e5;
        border-radius: 0;
    }
    .card {
        border-radius: 0;
    }
    .btn {
        border-radius: 0;
    }
</style>

<body>
    <div class="settings-form">
        <%= form_for @driver, :html => { multipart: true, :class => "form-horizontal image" } do |f| %>
            <% if @driver.errors.any? %>
                <div id="error_explanation">
                    <h2>
                        <%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:
                    </h2>
                    <ul>
                        <% @driver.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            <section class="row basic-info-card">
                <div class="col-md-8 offset-md-3">
                    <h6 class="font-14"><strong>Payment Information</strong></h6>
                    <h6 class="font-14">You need a card on file in order to receive payments for deliveries.</h6>
                    <div class="card">
                        <div class='card-body'>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="field">
                                        <%= f.text_field :bank_account_number, class:"form-control", autofocus: true, placeholder:"Card Number" %>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="field">
                                        <%= f.text_field :exp_month, class:"form-control", autocomplete: "off", placeholder:"Exp Month" %>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="field">
                                        <%= f.text_field :exp_year, class:"form-control", autofocus: true, placeholder:"Exp Year" %>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="field">
                                        <%= f.text_field :cvc, class:"form-control", autocomplete: "off", placeholder:"CVC" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-md-8 offset-md-3">
                    <div class="row">
                        <div class="actions text-right col-md-4 offset-md-8">
                            <%= f.submit 'Complete Registration', class:"btn btn-light btn-block white driver-signup-button" %>
                        </div>
                    </div>
                </div>
            </section>
        <% end %>
    </div>
</body>
