<div class="all-requests">
    <div class="request-card-container">
        <% @all_batches.reverse.each do |bat| %>
            <div class="row">
                <div class="col-md-7 request-card-div">
                    <div class="card">
                      <div class="card-header">
                        <h6>Batch <%= bat.id %> - <%= pluralize(bat.deliveries.count, 'delivery') %></h6>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title"><%= pharmacy(bat).name %></h4>
                        <p class="card-text">
                            <%= pharmacy(bat).street %> 
                            <strong class="directions">
                                <a href="https://www.google.com/maps/dir/?api=1&destination=<%= CGI::escape(pharmacy(bat).street) %>" class="background-transparent theme-green" target="_blank"> 
                                    [View in Maps]
                                </a>
                            </strong>
                        </p>
                        <%= link_to 'View deliveries', routes_path(:id => bat.id), class:"btn btn-light white" %>
                      </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>