<style>
  .pff {
    width: 100% !important;
  }
</style>
<div class="container">
  <div class="row" id="profile-page">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="avatar-col col-md-3 text-center" style="">
              <% if current_driver.avatar_file_name != nil %>
                <%= image_tag current_driver.avatar.url(:medium), class:"courier-license-image-1" %>
              <% else %>
                <img src="/images/user_full_large.png">
              <% end %>
              <div class="nav flex-column nav-pills add-padding-top" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active nav-link-settings font-14" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile Details</a>
                <a class="nav-link nav-link-settings font-14" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Car Details</a>
                <a class="nav-link nav-link-settings font-14" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-settings-home" aria-selected="true">Bank Details</a>
                <a class="nav-link nav-link-settings font-14" id="v-pills-notif-tab" data-toggle="pill" href="#v-pills-notif" role="tab" aria-controls="v-settings-notif" aria-selected="true">Notification Settings</a>
              </div>
            </div>
            <div class="profile-details-col col-md-9" style="border-left: 1px solid #e1e1e2;">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                  <div class="row">
                      <div class="col-md-12">
                        <%= form_for @driver, :html => { multipart: true, :class => "form-horizontal image editDriverProfile" } do |f| %>
                          <div class="row">
                            <div class="col-md-12" id="driverProfileDetailsHeader">
                                <div class="weighted font-18 float-left add-padding-top" id="profileDetailsHeader">Account Details 
                                </div>
                                <div class="weighted float-right" id="editDriverProfileDiv">
                                  <%= f.submit "Save Details", class:"btn btn-info white transaction-buttons editDriverProfileButton" do %>
                                    <i class="fa fa0 fa-check-circle" id="saveDetailsLoader"></i> Save Details
                                  <% end %>
                                  <!--<button class="btn btn-info transaction-buttons" id="editDriverProfile">-->
                                  <!--  <i class="fa fa0 fa-check-circle" id="saveDetailsLoader"></i> Save Details-->
                                  <!--</button>-->
                                </div>
                            </div>
                            <div class="col-md-12"><hr></div>
                          </div>
                          <div class="col-md-12">
                            <% if @driver.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>
                          
                                <ul>
                                <% @driver.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                                <% end %>
                                </ul>
                              </div>
                            <% end %>
                          </div>
                          <div class="row">
                            <div class="field col-md-12">
                              <%= f.email_field :email, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
                              <label for="email">Email</label>
                            </div>
                          
                            <div class="field col-md-12">
                              <%= f.text_field :first_name, class:"form-control form--control font-14 pf pff", autocomplete: "off", placeholder:" " %>
                              <label for="first_name">Name</label>
                            </div>
                          
                            <div class="field col-md-12">
                              <%= f.text_field :number, class:"form-control form--control font-14 pf", autocomplete: "off", placeholder:" " %>
                              <label for="number">Name</label>
                            </div>
                            <div class="field col-md-12">
                              <%= f.text_field :address, class:"form-control form--control font-14 pf", autofocus: true, placeholder:" " %>
                              <label for="address">Address</label>
                            </div>
                            <div class="col-md-12">
                              <%= f.file_field :avatar, class:"form-control font-14 pf" %>
                              <label for="avatar">Upload avatar</label>
                            </div>
                          </div>
                        <% end %>
                      </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <div class="row">
                      <div class="col-md-12" id="driverCareDetailsHeader">
                          <div class="weighted font-18 float-left add-padding-top" id="carDetailsHeader">Car Details</div>
                          <div class="weighted float-right add-padding-top-10" id="editDriverCarDiv">
                            <button class="btn btn-info transaction-buttons" id="editDriverCar">
                              <i class="fa fa1 fa-check-circle" id="saveCarLoader"></i> Save Details
                            </button>
                          </div>
                      </div>
                      <div class="col-md-12"><hr></div>
                      <div class="col-md-12 field">
                          <input type="text" class="form-control form--control font-14 pf" id="car-color" name="car-color" value="<%= current_driver.car_color %>">
                          <label for="car-color">Car color</label>
                      </div>
                      <div class="col-md-12 field">
                          <input type="text" class="form-control form--control font-14 pf" id="car-make" name="car-make" value="<%= current_driver.car_make %>">
                          <label for="car-make">Car make</label>
                      </div>
                      <div class="col-md-12 field">
                          <input type="text" class="form-control form--control font-14 pf" id="car-model" name="car-model" value="<%= current_driver.car_model %>">
                          <label for="car-model">Car model</label>
                      </div>
                      <div class="col-md-12 field">
                          <input type="text" class="form-control form--control font-14 pf" id="car-year" name="car-year" value="<%= current_driver.car_year %>">
                          <label for="car-year">Car year</label>
                      </div>
                      <div class="col-md-12 field">
                          <input type="text" class="form-control form--control font-14 pf" id="license-plate" name="license-plate" value="<%= current_driver.license_plate %>">
                          <label for="license-plate">License Plate</label>
                      </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-profile-tab" id="bankDetails">
                  <%= render 'bank_form' %>
                  <%= render 'new_bank' %>
                </div>
                <div class="tab-pane fade" id="v-pills-notif" role="tabpanel" aria-labelledby="v-pills-notif-tab" id="notificationDiv">
                  <% if current_driver.subscribed_to_push %>
                      <div class="card-body text-center">
                          <h6 class="weighted font-14">Push notifications enabled</h6>
                          <button class="btn btn-danger" id="disablePush">
                              Disable push notifications**
                          </button> <br /><br />
                          <h6 class="weighted font-13">**Only enable/disable notifications from your mobile phone</h6>
                      </div>
                  <% else %>
                      <div id="enablePushDiv">
                          <button class="btn btn-light" id="enablePush">
                              Enable push notification
                          </button>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  
  var flash = "<%= flash[:notice] if flash[:notice] %>";
  if (flash.length > 0) {
    toastr.success(flash); 
  }
  
  var bank_token_present = "<%= current_driver.stripe_token_present? %>";
  
  if (bank_token_present == 'true') {
    $('#bankForm').hide();
    $('#bankOnFile').show();
  } else {
    $('#bankOnFile').hide();
    $('#bankForm').show();
  }
  
  $('#showBankForm').on('click', function() {
     $('#bankOnFile').hide();
     $('#bankForm').show();
  });
  $('#cancelEditBank').on('click', function() {
     $('#bankForm').hide();
     $('#bankOnFile').show();
  });
  
  $('.pf').on('keyup', e => {
    $('#editDriverProfile').html('<i class="fa fa0 fa-check-circle" id="saveDetailsLoader"></i> Save Details');
  });
  
  $('.pf').on('keyup', e => {
    $('#editDriverCar').html('<i class="fa fa0 fa-check-circle" id="saveCarLoader"></i> Save Details');
  });
  
  // Car details update
  $('#editDriverCar').on('click', e => {
      $('#editDriverCar').html('Saving...');
      var color = document.getElementById('car-color').value;
      var make = document.getElementById('car-make').value;
      var model = document.getElementById('car-model').value;
      var year = document.getElementById('car-year').value;
      var license = document.getElementById('license-plate').value;
      var params = {"car_color": color, "car_make": make, "car_model": model, "car_year": year, "license_plate": license};
      $.get('/update_courier', {driver: params}, g => {
          $('#carDetailsLoader').className = 'fa fa-check-circle';
          console.log('Update complete!');
      });
      $('#editDriverCar').html('saved!');
  });
</script>