<div class="driver-earnings">
    <div class="row driver-stripe-balance">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class='font-14 theme-green'>Driver since <%= joined(@driver) %></h6>
                            <h3><%= @driver.first_and_initial %></h3>
                        </div>
                        <div class="col-md-3">
                            <h6 class='font-14 theme-green'>Your Balance</h6>
                            <h3>$<%= @balance.available.first["amount"].to_f/100 %></h3>
                        </div>
                        <div class="col-md-3">
                            <%= link_to 'Pay Out Now', payout_path(:id => current_driver.id), class:"btn btn-light white" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 transaction-filtering">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog white"></i> Filter
                                </button>
                                <div class="dropdown-menu">
                                    <%= render 'dropdown' %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6 class="interval-type"><%= interval_type %></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="list-group transactions-table">
                <% if @batches.present? %>
                    <%= render time_interval %>
                <% else %>
                    <div class="list-group-item list-group-item-action list-group-item-earnings">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h6 class="theme-blue">You haven't made any deliveries yet.</h6>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>