<nav class="navbar navbar-expand-lg main-nav fixed-top">
  <div class="container">
    <a class="navbar-brand background-transparent" href="/"><h3 class="logo ubuntu"><img src="/javascripts/pharmacy.png"></h3></a>
    <a class="navbar-toggler shopping-cart btn btn-light box-shadow" data-toggle="modal" data-target="#cartContent">
      <span id="currentItemCount" style="display: none;"><%= present_cart.item_count %></span>
      <i class="fa fa-shopping-cart"></i> | <span id="cartItemCount"><%= pluralize(present_cart.item_count, 'item') %></span>
    </a>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="padding-left: 0 !important; padding-right: 0 !important;">
      <ul class="navbar-nav navbar-nav-second" style="padding-top: 10px;">
        <span id="tempId" style="display: none;"><%= guest_shopper.email %></span>
        <span class="do-not-display-mobile">
          <li class="nav-item nav-item-logged-out-pharmacy-view" style="padding-left: 0 !important; padding-right: 0 !important;">
            <a class="nav-link nav-link-right cta-login btn btn-link pharmacy-login" href="/pharmacy/login" style="margin-right: 0 !important;">Store Login</a>
          </li>
          <!--<li class="nav-item nav-item-logged-out-pharmacy-view" style="padding-left: 0 !important; padding-right: 0 !important;">-->
          <!--  <a class="nav-link nav-link-right blog-link btn btn-link" href="https://medium.com/@rxcarriers" target="_blank">Blog</a>-->
          <!--</li>-->
        </span>
        <li class="nav-item nav-item-logged-out-pharmacy-view do-not-display-mobile" style="padding-left: 0 !important; padding-right: 0 !important; margin-left: 10px; margin-right: 10px;">
          <a class="nav-link nav-link-right btn btn-primary box-shadow reg-a-pharma" href="/register-a-pharmacy">
            Free 30-day trial
          </a>
        </li>
        <li class="nav-item nav-item-logged-out-pharmacy-view do-not-display-mobile" style="padding-left: 0 !important; padding-right: 0 !important; margin-left: 10px;">
          <button class="nav-link nav-link-right shopping-cart btn btn-info box-shadow" data-toggle="modal" data-target="#cartContent">
            <span id="currentItemCount1" style="display: none;"><%= present_cart.item_count %></span>
            <i class="fa fa-shopping-cart"></i> | <span id="cartItemCount1"><%= pluralize(present_cart.item_count, 'item') %></span>
          </button>
        </li>
        <span id="testingSomething"></span>
      </ul>
    </div>
  </div>
</nav>