<!DOCTYPE html>
<html>
  <head>
    <title>RxCarriers</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/javascripts/manifest.json">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="application.css.scss">
    <!-- -Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
    <script src="//js.pusher.com/3.1/pusher.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script>
      <% if current_pharmacy %>
        var current_pharma_id = <%= current_pharmacy.id %>;
        function playSound(filename){   
            document.getElementById("sound").innerHTML='<audio autoplay="autoplay"><source src="/sounds/' + filename + '.mp3" id="pingMP3" type="audio/mpeg" /><source src="/sounds/' + filename + '.ogg" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="/sounds/' + filename +'.mp3" /></audio>';
        }

        // Pusher.logToConsole = true;
        
        toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": false,
          "showDuration": "300000",
          "hideDuration": "1000",
          "timeOut": "300000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        };
    
        var pusher = new Pusher('6b4730083f66596ec97e', {
          cluster: 'us2',
          encrypted: true
        });
        
        var rx_channel = pusher.subscribe('new-rx');
        var alert_channel = pusher.subscribe('rx-alert');
        
        alert_channel.bind('new-rx-alert', function(data) {
          var pharmacy_id = data.pharmacy_i
          if (current_pharma_id == pharmacy_id) {
            var message = data.message;
            var id = data.id;d;
            var type = data.type;
            var rx = data.rx;
            toastr["success"](message);
            console.log(type);
          }
        });
        
        rx_channel.bind('rx-request', function(data) {
          var pharmacy_id = data.pharmacy_id
          if (current_pharma_id == pharmacy_id) {
            var message = data.message;
            var id = data.id;
            var time = data.time;
            var type = data.type;
            var rx = data.rx;
            toastr["success"](message);
            playSound('ping');
            console.log(type);
            $.get('/live_requests_dashboard', function(data) {
              $('#liveRequestsUpdate').html(data);
            });
            if (type == 'delivery') {
              var deliveriesToday = $('#deliveryRequestsToday').text();
              $.get('/get_all_notifications', function(data) {
                $('.notification-placeholder').hide();
                $('#notificationsModalBody').html(data);
              });
              $('#deliveryRequestsToday').text(parseInt(deliveriesToday) + 1);
              $('#newDeliveryRequest'+id).html(
                '<span class="badge badge-success verified-alert-badge">' +
                'Delivery request: ' + time + '</span>');
            } else if (type == 'refill') {
              var refillsToday = $('#refillsToday').text();
              $.get('/get_all_notifications', function(data) {
                $('.notification-placeholder').hide();
                $('#notificationsModalBody').html(data);
              });
              $('#refillsToday').text(parseInt(refillsToday) + 1);
              $('#newRefillRequest'+id).html(
                '<span class="badge badge-success verified-alert-badge">' +
                '<i class="fa fa-refresh"></i> Refill</span>');
            }
            var count = $('.badge-notif').text();
            if (count.length > 0) {
              var new_count = parseInt(count) + 1;
            } else {
              var new_count = 1;
            }
            $('#alertCount')
            .html('<span class="badge badge-danger badge-notif white"> </span>');
          }
        });
      <% end %>
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body id="main-body">
    <%= render_navigation %>
    <% if current_pharmacy %>
      <div class="container main-page">
        <div id="sound"></div>
        <div class="card main-page-card">
          <div class="card-body main-card">
            <%= render 'layouts/notifications_modal' %>
            <%= render 'layouts/messages_modal' %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div style="padding-top: 60px !important; padding-bottom: 40px;">
        <%= yield %>
      </div>
    <% end %>
    <%= render footer %>
  </body>
</html>
