<!DOCTYPE html>
<html>
  <script type="text/javascript"> //
    // < ![CDATA[
    // var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
    // document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    // //]] >
  </script>
  <head>
    <title>RxCarriers - <%= get_page_title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/javascripts/manifest.json">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="application.css.scss">
    <!-- -Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
    <script src="//js.pusher.com/3.1/pusher.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag '/javascripts/pharmacy.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag '/javascripts/pharmacy.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag '/javascripts/pharmacy.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag '/javascripts/pharmacy.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/javascripts/pharmacy.png', :rel => 'shortcut icon' %>
    <script>
      window.onload = function() {
        var startPos;
        var geoSuccess = function(position) {
          startPos = position;
        };
        navigator.geolocation.getCurrentPosition(geoSuccess);
      };
      $(function () {
        $(document).scroll(function () {
          var $nav = $(".fixed-top");
          $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
      });
      <% if current_pharmacy %>
        var current_pharma_id = <%= current_pharmacy.id %>;
        function playSound(filename){   
            document.getElementById("sound").innerHTML='<audio autoplay="autoplay"><source src="/sounds/' + filename + '.mp3" id="pingMP3" type="audio/mpeg" /><source src="/sounds/' + filename + '.ogg" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="/sounds/' + filename +'.mp3" /></audio>';
        }
        
        toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": false,
          "showDuration": "2000",
          "hideDuration": "1000",
          "timeOut": "300000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        };

        // Pusher.logToConsole = true;
    
        var pusher = new Pusher('6b4730083f66596ec97e', {
          cluster: 'us2',
          encrypted: true
        });
        
        var rx_channel = pusher.subscribe('new-rx');
        
        rx_channel.bind('rx-request', function(data) {
          var pharmacy_id = data.pharmacy_id
          if (current_pharma_id == pharmacy_id) {
            var message = data.message;
            var id = data.id;
            var status = data.status;
            var order = {
              "id": id,
              "pharmacy_id": pharmacy_id
            }
            $.get('/post_new_order', { order: order}, function(data) {
              toastr["success"](message);
              $('.no-delivery-requests').hide();
              $('.no-delivery-requests-spinner').hide();
              $('#liveRequestsUpdate').prepend(data);
            });
            playSound('ping');
          }
        });
      <% end %>
    </script>
    <%= csrf_meta_tags %>
  </head>
  <script language="JavaScript" type="text/javascript">
    // TrustLogo("https://www.rxcarriers.com/images/comodo_secure.png", "CL1", "none");
  </script>
  <!--<a  href="https://www.instantssl.com/" id="comodoTL">Essential SSL</a>-->
  <body id="main-body">
    <div id="sound"></div>
    <% if current_pharmacy %>
      <%= render 'layouts/pharmacy_top_nav' %>
      <section id="layout" class="add-padding-top">
        <div class="container">
          <div class="main-page">
            <%= render 'layouts/notifications_modal' %>
            <%= yield %>
          </div>
        </div>
      </section>
    <% else %>
      <%= render 'carts/cart' %>
      <%= render 'carts/track' %>
      <%= render 'layouts/main_nav' %>
      <div style="padding-top: 45px !important; height: 100%;">
        <%= yield %>
      </div>
    <% end %>
    <%= render footer %>
  </body>
</html>
